<header translate="titles.activation">Activate Account</header>
<article class="account">
  <p translate="activation.account.description"></p>
  <form ng-submit="activation.account()">
    <label for="code" translate="activation.account.activation_code">Activation Code</label>
    <input type="text" ng-model="activation.code" id="code" minlength="6" maxlength="6">
    <div class="error" ng-show="activation.error" translate="activation.account.error">Error retrieving access, please retry</div>
    <button type="submit" class="button" ng-disabled="!activation.code"
            translate="activation.account.submit">Recover Username</button>
  </form>
  <a ng-hide="activation.resendRequested" ng-click="activation.resend()"
     translate="activation.account.resend">Resend activation code</a>
</article>
