<header class="product" ng-class="{loading:data.product.loading}">
  <a href="/stock" class="back"></a>
  <span class="error ng-hide" ng-show="data.product.error" translate="product.error"></span>
  <span ng-show="data.product.product">{{data.article.count}}x {{data.product.product.name[1].productName}}</span>
  <span ng-show="data.product.product.number" translate translate-values="data.product.product">product.nr</span>
  <div class="box">
    <span ng-show="data.product.product.expansion" class="icon expansion-{{data.product.product.idGame}}" ng-style="data.product.product.expIcon | expansionIcon">
    </span><span ng-show="data.product.product.rarity" ng-class="data.product.product | rarityIcon"></span>
  </div>
</header>
<mkm-product product-data="data.product"></mkm-product>
<article class="product">
  <div class="loading" ng-show="data.loading" translate="common.loading"></div>
  <div class="error" ng-show="data.error" translate="article.not_found"></div>
  <form ng-show="data.article">
    <span ng-hide="data.article.count < 2">
      <label for="count" translate="article.count"></label>
      <select id="count" ng-model="data.article.amount">
        <option ng-repeat="x in data.article.count - 1 | range">{{x}}</option>
        <option value="">{{data.article.count}}</option>
      </select><br>
    </span>
    <label for="language" translate="common.language"></label>
    <span class="icon language language-{{data.article.language.idLanguage}}"></span>
    <select id="language" ng-options="language as 'article.languages.'+language | translate for language in languages"
            ng-model="data.article.language.idLanguage" required></select>
    <div ng-show="data.article.condition != null">
      <hr>
      <label for="condition" translate="article.condition"></label>
      <span class="icon grading grading-{{data.article.condition}}"></span>
      <select id="condition" ng-options="condition as 'article.conditions.'+condition | translate for condition in conditions"
              ng-model="data.article.condition" required></select>
      <hr>
    </div>
    <div ng-show="data.article.isFoil != null">
      <label for="isFoil" translate="article.foil"></label>
      <label for="isFoil">
        <input type="checkbox" ng-model="data.article.isFoil" id="isFoil">
      </label>
    </div>
    <div ng-show="data.article.isSigned != null">
      <label for="isSigned" translate="article.signed"></label>
      <label for="isSigned">
        <input type="checkbox" ng-model="data.article.isSigned" id="isSigned">
      </label>
    </div>
    <div ng-show="data.article.isPlayset != null">
      <label for="isPlayset" translate="article.playset"></label>
      <label for="isPlayset">
        <input type="checkbox" ng-model="data.article.isPlayset" id="isPlayset">
      </label>
    </div>
    <div ng-show="data.article.isAltered != null">
      <label for="isAltered" translate="article.altered"></label>
      <label for="isAltered">
        <input type="checkbox" ng-model="data.article.isAltered" id="isAltered">
      </label>
    </div>
    <div ng-show="data.article.isFirstEd != null">
      <label for="isFirstEd" translate="article.firsted"></label>
      <label for="isFirstEd">
        <input type="checkbox" ng-model="data.article.isFirstEd" id="isFirstEd">
      </label>
    </div>
    <hr>
    <label for="comment" translate="common.comment"></label>
    <input type="text" id="comment" ng-model="data.article.comments" placeholder="{{'common.comment' | translate}}"><br>
    <label for="price" translate="common.price"></label>
    <input id="price" type="number" step="0.01" min="0.01" ng-model="data.article.price"><br>
    <button class="button" ng-click="save()" translate="common.save"></button>
  </form>
</article>