<header translate="titles.cart"></header>
<article>
  <p ng-hide="data.cart.length || data.loading" translate>cart.empty</p>
  <div class="overview" ng-show="data.cart.length">
    <a ui-sref="cart.address" class="address link">
      <span class="title" translate="cart.shipping_address"></span>
      <i>
        {{data.address.name}},
        <span ng-show="data.address.street"> {{data.address.street}}, </span>
        <span ng-show="data.address.extra">  {{data.address.extra}},  </span>
        <span ng-show="data.address.zip">    {{data.address.zip}}     </span>
        <span ng-show="data.address.city">   {{data.address.city}},   </span>
        <span>{{'address.countries.'+data.address.country | translate}}</span>
      </i>
    </a>
    <div class="single" ng-show="data.cart.length == 1">
      <hr>
      <div class="orderid">
        <span translate="cart.order" class="title"></span> {{data.cart[0].idReservation}}
      </div>
      <mkm-order order="data.cart[0]" remove-article="removeArticle" shipping-method="shippingMethod"></mkm-order>
    </div>
    <div class="multiple" ng-show="data.cart.length > 1">
      <div class="titlebar">
        <a href="javascript:void()" ng-click="emptyCart()" class="right" translate="cart.delete">Empty cart</a>
        <span translate="cart.headline" translate-values="{orders:data.cart.length, articles:count}"></span>
      </div>
      <ul>
        <li class="order link" ng-repeat="order in data.cart">
          <button class="remove" ng-click="removeOrder(order)"></button><a ui-sref="cart.order({orderId: order.idReservation})">
            <span translate="cart.order"></span>
            {{order.idReservation}}<br>
            <span translate="cart.seller"></span>
            {{order.seller.username}}<br>
            {{order.articleCount}}
            <span ng-show="order.articleCount == 1" translate="cart.article"></span>
            <span ng-show="order.articleCount != 1" translate="cart.articles"></span>
            {{order.articleValue | currency:"€"}}<br>
            <span translate="cart.shipping"></span>
            {{order.shippingMethod.price | currency:"€"}}
          </a>
        </li>
      </ul>
      <div class="total">
        <span translate="common.total"></span> - {{sum | currency:"€"}}
        <i translate="common.items_shipping"></i>
      </div>
    </div>
    <div class="titlebar">
      <span translate="cart.balance"></span>
      {{data.account.moneyDetails.totalBalance | currency:"€"}}
    </div>
    <div class="payments" ng-show="data.account.moneyDetails.totalBalance < sum">
      <a ui-sref="cart.checkout({method:'bank'})" class="button" translate="common.bank"></a>
      <a ui-sref="cart.checkout({method:'paypal'})" class="button" translate="common.paypal"></a>
    </div>
    <div class="payments" ng-show="data.account.moneyDetails.totalBalance >= sum">
      <a ui-sref="cart.checkout({method:'instabuy'})" class="button green" translate="common.instabuy"></a>
    </div>
  </div>
  <div class="loading" ng-show="data.loading" translate="cart.loading"></div>
</article>