<header>
  <a href="/settings" class="back"></a>
  <span translate="titles.contact"></span>
</header>
<article>
  <div class="subheadline" translate="contact.title">Imprint</div>
  <p>
    Sammelkartenmarkt Ltd. & Co. KG<br>
    Nordkapstr. 4<br>
    10439 Berlin<br>
    <span translate="contact.telephone">Telephone:</span>
    +49 30 34781236
    (<span translate="contact.support">Not for customer support</span>)<br>
    <span translate="contact.email">Email:</span>
    <a href="mailto:contact@cardmarket.eu">contact@cardmarket.eu</a><br>
    <br>
    <b translate="contact.office">Registration office:</b> Amtsgericht Berlin-Charlottenburg<br>
    <b translate="contact.number">Registration number:</b> HR A 39760<br>
    <b translate="contact.tax">Sales tax identification number:</b> DE256122758<br>
    <br>
    <span translate="contact.legal"></span><br>
    <br>
    <b translate="contact.responsible">Responsible according to § 55 Abs. 2 RStV (Germany):</b>
    Dr. Matthias Knelangen, Nordkapstr. 4, 10439 Berlin<br>
    <br>
    <span translate="contact.trademark">Magiccardmarket® is a registered trademark.</span>
  </p>
</article>
<mkm-footer></mkm-footer>