<header>
  <a href="javascript:history.back()" class="back"></a>
  <div class="title" translate="titles.contact"></div>
</header>
<article>
  <ul>
    <li class="link"><a href="//github.com/bra1n/mkmobile/issues" target="_blank" translate="contact.report">Report an issue</a></li>
  </ul>
  <p translate="contact.explanation">
    If you have a question about an order, please send us the SHIPMENT NR. Messages without
    this number cannot be processed.
  </p>
  <p translate="contact.explanation2">
    In case of a certified order, please provide the TRACKING CODE and the shipping date, if possible.
  </p>
  <form ng-submit="submit()">
    <label ng-hide="loggedIn" for="email" translate="common.email">Email</label>
    <input ng-hide="loggedIn" id="email" type="email" ng-model="form.email">
    <label for="subject" translate="contact.subject">Subject</label>
    <input id="subject" type="text" ng-model="form.subject">
    <label for="comment" translate="contact.comment">Comment</label>
    <textarea id="comment" ng-model="form.text"></textarea>
    <button class="button" type="submit" ng-disabled="!form.subject || !form.text || (!form.email && !loggedIn)"
            translate="contact.submit">Submit</button>
  </form>
</article>
