<header translate="home.greeting" translate-values="{name: account.name.firstName}">Hello</header>
<article>
  <a ui-sref="profile.account" class="mkmicon profile" translate="titles.profile">Profile</a>
  <a ui-sref="message.list" class="mkmicon messages">
    <span class="count" ng-show="messages">{{messages}}</span>
    <span translate="titles.message">Messages</span>
  </a>
  <a ui-sref="order.buy" class="mkmicon purchases" translate="titles.buys">Purchases</a>
  <a ui-sref="wantslist.list" class="mkmicon wants" translate="titles.wantslist">Wants</a>
  <a ui-sref="order.sell" ng-hide="account && !account.maySell" class="mkmicon sales" translate="titles.sells">Sales</a>
  <a ui-sref="stock.list" ng-hide="account && !account.maySell" class="mkmicon offers" translate="titles.stock">Offers</a>
  <a ui-sref="activation.seller" ng-show="account && account.sellerActivation < 3" class="mkmicon becomeseller" translate="titles.activation_seller">Become Seller</a>
</article>
