<header translate="home.greeting" translate-values="{name: account.name.firstName}">Hello</header>
<article>
  <a href="/profile" class="mkmicon profile" translate="titles.profile">Profile</a>
  <a href="/messages" class="mkmicon messages">
    <span class="count" ng-show="messages">{{messages}}</span>
    <span translate="titles.messages">Messages</span>
  </a>
  <a href="/buys" class="mkmicon purchases" translate="titles.buys">Purchases</a>
  <a href="/wants" class="mkmicon wants" translate="titles.wants">Wants</a>
  <a ng-hide="account && !account.maySell" href="/sells" class="mkmicon sales" translate="titles.sells">Sales</a>
  <a ng-hide="account && !account.maySell" href="/stock" class="mkmicon offers" translate="titles.stock">Offers</a>
  <a ng-show="account && !account.maySell" href="/activation" class="mkmicon becomeseller" translate="titles.activation">Become Seller</a>
</article>