<header>
  <a href="javascript:history.back()" class="back"></a>
  <div class="title" translate="titles.imprint"></div>
</header>
<article>
  <p>
    Sammelkartenmarkt Ltd. & Co. KG<br>
    Nordkapstr. 4<br>
    10439 Berlin<br>
    <span translate="imprint.telephone">Telephone:</span>
    +49 30 34781236
    (<span translate="imprint.support">Not for customer support</span>)<br>
    <span translate="common.email">Email</span>:
    <a href="mailto:contact@cardmarket.eu">contact@cardmarket.eu</a><br>
    <br>
    <b translate="imprint.office">Registration office:</b> Amtsgericht Berlin-Charlottenburg<br>
    <b translate="imprint.number">Registration number:</b> HR A 39760<br>
    <b translate="imprint.tax">Sales tax identification number:</b> DE256122758<br>
    <br>
    <span translate="imprint.legal"></span><br>
    <br>
    <b translate="imprint.responsible">Responsible according to § 55 Abs. 2 RStV (Germany):</b>
    Dr. Matthias Knelangen, Nordkapstr. 4, 10439 Berlin<br>
    <br>
    <span translate="imprint.trademark">Magiccardmarket® is a registered trademark.</span>
  </p>
</article>
