<mkm-search></mkm-search>
<article>
  <form>
    <img src="/img/1-logo.jpg" alt="Logo" class="logo" ng-show="gameId == 1 && language != 'de'">
    <img src="/img/1-logo_de.jpg" alt="Logo" class="logo" ng-show="gameId == 1 && language == 'de'">
    <img src="/img/3-logo.jpg" alt="Logo" class="logo" ng-show="gameId == 3">
    <div ng-hide="loggedIn">
      <iframe src="" ng-src="{{iframeSrc}}" ng-show="iframeSrc" scrolling="no"></iframe>
      <button class="button" ng-hide="iframeSrc || login.success" ng-click="handleLogin()" translate="login.login">Log In</button>
      <div ng-show="login.error" translate="login.error">Error retrieving access, please retry</div>
      <div ng-show="login.success" translate="login.success">Logged in successfully!</div>
      <a href="http://{{language}}.magiccardmarket.eu" translate="common.desktop">To desktop version</a>
    </div>
    <div ng-show="loggedIn">
      <button class="button" ng-click="logout()" translate="common.logout">Logout</button>
    </div>
  </form>
</article>