<header translate="titles.messages">My Messages</header>
<article>
  <form class="search subheadline mkmicon" ng-submit="blur($event)">
    <input id="search" type="text" placeholder="{{'common.search' | translate}}" ng-model="search">
    <button type="button" ng-show="search" ng-click="search = ''">{{'search.cancel' | translate}}</button>
  </form>
  <ul class="overview" ng-class="{loading:data.loading}">
    <li ng-repeat="thread in data.messages | filter:search" class="link"
        ng-class="{sending:thread.message.isSending, unread:thread.unreadMessages}">
      <button class="remove" ng-click="delete($index,thread.partner.idUser)"></button>
      <span class="time">{{thread.message.date | date:'short'}}</span>
      <a ui-sref="message.user({idUser:thread.partner.idUser})">
        <span class="title">
          {{thread.partner.username}}
          <span mkm-user user="thread.partner"></span>
        </span>
        <p>{{thread.message.text | truncate:150}}</p>
      </a>
    </li>
    <li class="user" ng-repeat="user in users">
      <a ui-sref="message.user({idUser:user.idUser})">
        <span class="title">
          {{user.username}}
          <span mkm-user user="user"></span>
        </span>
        <p translate="messages.new">Write a new message</p>
      </a>
    </li>
  </ul>
</article>