<header ng-class="{loading:user.data.loading}">
  <a href="javascript:history.back()" class="back"></a>
  <div class="title">{{user.data.partner.username}}</div>
  <div class="right">
    <a ui-sref="profile.user(user.data.partner)" class="mkmicon info"></a>
  </div>
</header>
<article>
  <form class="search subheadline mkmicon" ng-submit="user.blur($event)"
        ng-show="user.data.messages && user.data.messages.length">
    <input id="search" type="text" ng-model="user.searchText" placeholder="{{'common.search' | translate}}">
    <button type="button" ng-show="user.searchText" ng-click="user.searchText = ''">
      {{'search.cancel' | translate}}
    </button>
  </form>
  <ul class="thread" ng-class="{loading:user.data.loading}">
    <li ng-repeat="message in user.data.messages | filter:user.searchText"
        ng-class="{sending: message.isSending, unread: message.unread}" ng-if="message.state != 'deleted'">
      <h3 ng-show="!$index || message.date.toDateString() != user.data.messages[$index - 1].date.toDateString()">
        {{message.date | date:'fullDate'}}
      </h3>
      <div>
        <button class="remove" ng-click="user.delete($index, user.data.partner.idUser, message.idMessage)"></button>
        <span class="time">{{message.date | date:'shortTime'}}</span>
        <p>{{message.text}}</p>
      </div>
    </li>
  </ul>
  <form name="user.form" class="write subheadline" ng-submit="user.send()">
    <textarea placeholder="{{'messages.message' | translate}}" required ng-model="user.message"></textarea>
    <button translate="messages.send">Send</button>
  </form>
</article>
