<header>
  <a href="javascript:history.back()" class="back"></a>
  <div class="title" translate="titles.message">My Messages</div>
  <div class="right">
    <a ui-sref="message.new" class="mkmicon new-message"></a>
  </div>
</header>
<article>
  <form class="search subheadline mkmicon" ng-submit="list.blur($event)">
    <input id="search" type="text" placeholder="{{'common.search' | translate}}" ng-model="list.search">
    <button type="button" ng-show="list.search" ng-click="list.search = ''">{{'search.cancel' | translate}}</button>
  </form>
  <ul class="overview" ng-class="{loading:list.data.loading}">
    <li ng-repeat="thread in list.data.messages | filter:list.search" class="link"
        ng-class="{sending:thread.message.isSending, unread:thread.unreadMessages}"
        ui-sref="message.user({idUser:thread.partner.idUser})">
      <button class="remove" ng-click="list.delete($index, thread.partner.idUser)"></button>
      <span class="time">{{thread.message.date | date:'short'}}</span>
      <span class="title">
        {{thread.partner.username}}
        <span mkm-user user="thread.partner"></span>
      </span>
      <p>{{thread.message.text | truncate:150}}</p>
    </li>
  </ul>
</article>