<header translate="titles.payment">Payment</header>
<article>
  <div ng-show="method == 'done'">
    <span translate="payment.done">Thank you for your payment!</span><br>
    <a href="javascript:window.close();" translate="payment.close">You can now close this tab</a>.
  </div>
  <div ng-show="method == 'cancel'">
    <span translate="payment.cancel">Your Paypal account has not been charged.</span><br>
    <a href="javascript:window.close();" translate="payment.close">You can now close this tab</a>.
  </div>
  <div ng-show="method == 'paypal'">
    <div class="loading" ng-show="data.loading" translate="payment.loading">Loading payment data...</div>
    <div class="headline" translate="payment.paypal">Credit my Account via PayPal</div>
    <span translate="payment.paypal_p1"></span><br>
    <span translate="payment.paypal_p2"></span><br>
    <span translate="payment.alternate">Alternate Method:</span>
    <a href="/payment/bank" translate="payment.bank">Credit your account via bank transfer</a><br>
    <span translate="payment.paypal_p3">Total amount for PayPal:</span>
    <b>{{data.account.paypalRecharge | currency:"€"}}</b>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="paypal@magickartenmarkt.de">
      <input type="hidden" name="item_name" value="Digital Goods">
      <input type="hidden" name="custom" value="{{data.account.idUser}}">
      <input type="hidden" name="amount" value="{{data.account.paypalRecharge}}">
      <input type="hidden" name="currency_code" value="EUR">
      <input type="hidden" name="return" value="{{location.protocol()}}://{{location.host()}}/payment/done">
      <input type="hidden" name="cancel_return" value="{{location.protocol()}}://{{location.host()}}/payment/cancel">
      <input type="hidden" name="rm" value="2">
      <input type="hidden" name="lc" value="{{data.account.idDisplayLanguage | findInMap:languages}}">
      <input type="hidden" name="image_url" value="http://mkmapi.eu/img/localisation/english/banner_750_90.png">
      <button ng-click="redirect()" translate="payment.paypal_p4">Pay with Paypal</button>
    </form>
  </div>
  <div ng-show="method == 'bank'">
    <div class="loading" ng-show="data.loading" translate="payment.loading">Loading payment data...</div>
    <div class="headline" translate="payment.bank">Credit my Account via Bank Transfer</div>
    <span translate="payment.bank_p1"></span>
    <ul>
      <li><b translate="payment.bank_p2">Bank Account</b></li>
      <li><b translate="payment.bank_p3">Amount:</b> {{data.account.bankRecharge | currency:"€"}}</li>
      <li><b translate="payment.bank_p4">Recipient:</b> Sammelkartenmarkt</li>
      <li><b translate="payment.bank_p5">Account Nr:</b> 107541500</li>
      <li><b translate="payment.bank_p6">Bank:</b> Commerzbank AG</li>
      <li><b translate="payment.bank_p7">Bank Code:</b> 10040000</li>
      <li><b translate="payment.bank_p8">IBAN:</b> DE80100400000107541500</li>
      <li><b translate="payment.bank_p9">BIC:</b> COBADEFFXXX</li>
      <li><b translate="payment.bank_p10">Transfer Reason:</b> {{data.account.username}}-{{data.account.idUser}}</li>
    </ul>
    <b translate="payment.bank_p11">Attention:</b>
    <span translate="payment.bank_p12" translate-value-user="{{data.account.username+'-'+data.account.idUser}}"></span><br>
    <span translate="payment.bank_p13"></span><br>
    <b translate="payment.bank_p11">Atention:</b>
    <span translate="payment.bank_p14"></span><br>
    <span translate="payment.bank_p15"></span><br>
    <span translate="payment.alternate">Alternate Method:</span>
    <a href="/payment/paypal" translate="payment.paypal">Credit your account via PayPal</a><br>
  </div>
</article>