<header ng-class="{loading:productData.loading}">
  <a href="javascript:history.back()" class="back"></a>
  <span class="error ng-hide" ng-if="productData.error" translate="product.error">Error loading product</span>
  {{productData.product.enName}}
  <span ng-if="productData.product.number" translate="product.nr" translate-value-number="{{productData.product.number}}"></span>
  <div class="box">
    <span ng-if="productData.product.rarity" ng-class="productData.product | rarityIcon">
    </span><span class="icon expansion-{{productData.product.idGame}}" ng-if="productData.product.expansion"
                 ng-style="productData.product.expansion.expansionIcon | expansionIcon" ></span>
  </div>
</header>
<mkm-product product-data="productData"></mkm-product>
<article>
  <span ng-show="data.error" class="error" translate="product.articles_error">Error loading articles</span>
  <span ng-show="!data.loading && !data.count && !data.error" class="error" translate="product.no_articles">No Offers :(</span>
  <ul class="table" ng-class="{loading:data.loading}" data-infinite-scroll="loadArticles()">
    <li class="row" ng-repeat="article in data.articles track by article.idArticle"
        ng-hide="!article.count" ng-class="{comment:article.showComment, seller:article.showSeller}">
      <div class="cell seller" ng-click="article.showSeller=!article.showSeller">
        <span class="name">{{::article.seller.username}} ({{::article.seller.sellCount}})</span>
        <span class="details" mkm-user user="::article.seller"></span>
      </div><div class="cell icons">
        <span class="icon language language-{{::article.language.idLanguage}}"></span>
        <span class="icon grading grading-{{::article.condition}}"></span>
        <span class="icon is-foil" ng-if="::article.isFoil"></span>
        <span class="icon is-signed" ng-if="::article.isSigned"></span>
        <span class="icon is-altered" ng-if="::article.isAltered"></span>
        <span class="icon is-firsted" ng-if="::article.isFirstEd"></span>
        <span class="icon comment" ng-if="::article.comments" ng-click="article.showComment = !article.showComment"></span>
        <div class="comment">{{::article.comments}}</div>
      </div><div class="cell price" ng-class="::{playset: article.isPlayset}">
        <span class="icon is-playset" ng-click="article.showPlayset=!article.showPlayset"></span>
        <span class="price" ng-click="article.showPlayset=true" ng-hide="article.showPlayset && article.isPlayset">
          {{::article.price | currency:"€"}}
        </span>
        <span class="price-per-card" ng-click="article.showPlayset=false" ng-show="article.showPlayset && article.isPlayset">
          4x{{::article.price / 4 | currency:"€"}}
        </span>
        <span class="count">{{article.count}}</span>
        <button ng-click="addToCart(article)"></button>
      </div>
    </li>
  </ul>
</article>