<header>
  <a ui-sref="login" class="back"></a>
  <span translate="titles.register">Registration</span>
</header>
<article>
    <nav>
      <span ng-class="{active: register.step==index}" ng-click="register.go(index)"
            ng-repeat="(index, form) in register.steps"></span>
    </nav>
    <form name="register.steps[0]" class="step" ng-show="register.step == 0">
      <div class="half">
        <b>Private Account</b>
      </div><div class="half">
        <span class="professional">
          Professional?<br>
          <a href="https://www.magiccardmarket.eu/?mainPage=register&type=pro" target="_blank">
            Desktop Registration
          </a>
        </span>
      </div>
      <h2>Personal Data</h2>
      <label for="firstName" translate="address.first_name">First Name</label>
      <input id="firstName" type="text" ng-model="register.firstName" required>
      <label for="lastName" translate="address.last_name">Last Name</label>
      <input id="lastName" type="text" ng-model="register.lastName" required>
      <label for="additional" translate="address.additional">+ Additional address info (optional)</label>
      <input id="additional" type="text" ng-model="register.additional">
      <label for="street" translate="address.street">Steet and house number</label>
      <input id="street" type="text" ng-model="register.street" required>
      <div class="half">
      <label for="zip" translate="address.zip">Post Code</label>
      <input id="zip" type="text" ng-model="register.zip" required>
      </div><div class="half">
      <label for="city" translate="address.city">City</label>
      <input id="city" type="text" ng-model="register.city" required>
      </div>
      <label for="country" translate="address.country">Country</label>
      <select id="country" ng-model="register.country" required
              ng-options="country as 'address.countries.'+country | translate for country in register.countries"></select>
    </form>
    <form name="register.steps[1]" class="step" ng-show="register.step == 1">
      Step 2
    </form>
    <form name="register.steps[2]" class="step" ng-show="register.step == 2">
      Step 3
    </form>
    <form name="register.steps[3]" class="step" ng-show="register.step == 3">
      Step 4
    </form>
    <form name="register.steps[4]" class="step" ng-show="register.step == 4">
      Step 5
    </form>
    <div class="buttons">
      <button type="button" ng-show="register.step>0" ng-click="register.go(register.step-1)">&lt; Previous</button>
      <button type="button" ng-show="register.step<4" ng-click="register.go(register.step+1)"
              ng-disabled="register.steps[register.step].$invalid">Next &gt;</button>
    </div>
  </form>
</article>