<header>
  <span translate="titles.stock">My Articles</span>
  <span ng-hide="data.loading">
    &nbsp;- {{data.count}}
    <span ng-show="data.count != 1" translate="common.articles"></span>
    <span ng-show="data.count == 1" translate="common.article"></span>
  </span>
</header>
<article>
  <form class="search subheadline mkmicon" ng-class="{open:selected.length}" ng-submit="blur()">
    <div class="tools" ng-show="selected.length">
      <button type="button" class="remove" ng-click="decrease(selected)"></button>
      <button type="button" class="add" ng-click="increase(selected)"></button>
    </div>
    <input type="text" ng-model="query" placeholder="{{'common.search' | translate}}">
    <button type="button" ng-show="query" ng-click="query = ''">{{'search.cancel' | translate}}</button>
  </form>
  <div ng-show="data.error" class="error" translate="stock.error">No Articles</div>
  <div ng-show="!data.loading && !data.count && !data.error" class="empty" translate="stock.no_articles">No Articles</div>
  <ul class="articles" ng-class="{loading:data.loading}" data-infinite-scroll="loadArticles()">
    <li ng-repeat="article in data.articles" ng-hide="!article.count"
        ng-class="{loading:article.loading,comment:article.showComment,image:article.showImage}">
      <div class="controls">
        <input type="checkbox" ng-checked="selected.indexOf(article) > -1" ng-click="select(article)" ng-disabled="article.inShoppingCart">
        <span class="icon card" ng-if="::article.product.image" ng-click="article.showImage = !article.showImage"></span>
      </div>
      <div class="card">
        {{article.count}}x
        <a ui-sref="stock.article({articleId:article.idArticle})" ng-if="!article.inShoppingCart">
          {{::article.product.enName}}
          <small ng-hide="::article.language.idLanguage == 1">{{::article.product.locName}}</small>
        </a>
        <span ng-if="::article.inShoppingCart">{{::article.product.name}}</span>
        <div class="card-image" ng-click="article.showImage = 0">
          <img src="" ng-src="{{::article.showImage && (article.product.image | productImage)}}">
        </div>
        <div class="comment" ng-click="article.showComment = 0">{{::article.comments}}</div>
      </div>
      <div class="icons">
        <span ng-class="::article.product | rarityIcon" ng-if="::article.product.rarity"></span>
        <span class="icon expansion-{{::article.product.idGame}}" ng-style="::article.product.expIcon | expansionIcon" ng-if="::article.product.expansion"></span>
        <span class="icon language language-{{::article.language.idLanguage}}" ng-if="::article.language.idLanguage"></span>
        <span class="icon grading grading-{{::article.condition}}" ng-if="::article.condition"></span>
        <span class="icon is-foil" ng-if="::article.isFoil"></span>
        <span class="icon is-signed" ng-if="::article.isSigned"></span>
        <span class="icon is-playset" ng-if="::article.isPlayset"></span>
        <span class="icon is-altered" ng-if="::article.isAltered"></span>
        <span class="icon is-firsted" ng-if="::article.isFirstEd"></span>
        <span class="icon comment" ng-if="::article.comments" ng-click="article.showComment = !article.showComment"></span>
      </div>
      <div class="price">{{::article.price | currency:"€"}}</div>
    </li>
  </ul>
</article>