<header>
  <a ng-hide="wantslist.screen" ui-sref="wantslist.list" class="back"></a>
  <a ng-show="wantslist.screen" ng-click="wantslist.screen = ''" class="back"></a>
  <div class="title">
    {{wantslist.name}} -
    <span ng-hide="wantslist.screen" translate="wantslist.mywants">My Wants</span>
    <span ng-show="wantslist.screen == 'add'" translate="wantslist.addcard"Add Card</span>
    <span ng-show="wantslist.screen == 'edit'" translate="wantslist.editcard">Edit Card</span>
  </div>
</header>

<form id="add" name="card" class="overlay" ng-show="wantslist.screen == 'add' || wantslist.screen == 'edit'"
      ng-submit="wantslist.item()">
  <!-- Search and suggestions -->
  <label class="search" ng-show="wantslist.screen == 'add'">
    <input type="text" ng-model="wantslist.cardname" placeholder="{{'wantslist.cardname' | translate}}"
           ng-change="wantslist.search()">
  </label>
  <ul ng-show="wantslist.suggestions.products.length" class="suggestions">
    <li ng-repeat="product in wantslist.suggestions.products" class="cardname" ng-click="wantslist.select(product)">
      {{::product.metaproduct.enName}}
      <small ng-hide="::wantslist.languageId == 1">{{::product.metaproduct.localizedName}}</small>
    </li>
  </ul>

  <label ng-show="wantslist.current.metaproduct">
    <span translate="wantslist.card">Card</span>
    <b>{{wantslist.current.metaproduct.enName}}</b>
    <input type="hidden" ng-model="wantslist.current.metaproduct" required>
  </label>
  <label>
    <span translate="article.amount">Amount</span>
    <input type="number" min="1" required ng-model="wantslist.current.count">
  </label>
  <label ng-show="wantslist.current.product.length">
    <span translate="common.expansion">Expansion</span>
    <i class="icon expansion-{{wantslist.current.product[0].idGame}}" ng-show="wantslist.current.selected"
       ng-style="wantslist.current.selected.expansionIcon | expansionIcon"></i>
    <i ng-if="wantslist.current.selected.rarity" ng-class="wantslist.current.selected | rarityIcon"></i>
    <select ng-model="wantslist.current.selected"
            ng-options="product as product.expansionName for product in wantslist.current.product track by product.idProduct">
      <option value="" translate="common.no_preference">No Preference</option>
    </select>
  </label>
  <label class="language">
    <span translate="common.language">Language</span>
    <span class="icons">
      <i ng-repeat="language in wantslist.current.idLanguage"
         class="icon language language-{{language}}"></i>
    </span>
    <select ng-model="wantslist.current.idLanguage" multiple>
      <option selected value="" translate="common.no_preference">No Preference</option>
      <option ng-repeat="language in wantslist.languages" value="{{language}}"
              translate="article.languages.{{language}}"></option>
    </select>
  </label>
  <label>
    <span translate="article.condition">Condition</span>
    <i class="icon grading grading-{{wantslist.current.minCondition}}"></i>
    <select ng-model="wantslist.current.minCondition">
      <option value="" translate="common.no_preference">No Preference</option>
      <option ng-repeat="condition in wantslist.conditions" value="{{condition}}"
              translate="article.conditions.{{condition}}"></option>
    </select>
  </label>
  <label>
    <span translate="article.foil">Foil?</span>
    <i class="icon is-foil" ng-show="wantslist.current.isFoil == 'true'"></i>
    <select ng-model="wantslist.current.isFoil">
      <option value="" translate="common.no_preference">No Preference</option>
      <option value="true" translate="common.yes">Yes</option>
      <option value="false" translate="common.no">No</option>
    </select>
  </label>
  <label>
    <span translate="article.signed">Signed?</span>
    <i class="icon is-signed" ng-show="wantslist.current.isSigned == 'true'"></i>
    <select ng-model="wantslist.current.isSigned">
      <option value="" translate="common.no_preference">No Preference</option>
      <option value="true" translate="common.yes">Yes</option>
      <option value="false" translate="common.no">No</option>
    </select>
  </label>
  <label>
    <span translate="article.altered">Altered?</span>
    <i class="icon is-altered" ng-show="wantslist.current.isAltered == 'true'"></i>
    <select ng-model="wantslist.current.isAltered">
      <option value="" translate="common.no_preference">No Preference</option>
      <option value="true" translate="common.yes">Yes</option>
      <option value="false" translate="common.no">No</option>
    </select>
  </label>
  <label class="price">
    <span translate="wantslist.buy_price">Price</span>
    <input type="number" min="0.01" step="0.01" required ng-model="wantslist.current.wishPrice">
  </label>
  <label>
    <span translate="wantslist.email_alarm">Email alert?</span>
    <select ng-model="wantslist.current.emailAlert">
      <option value="" translate="common.yes">Yes</option>
      <option value="false" translate="common.no">No</option>
    </select>
  </label>
  <div class="error" ng-show="wantslist.error">{{'wantslist.sell.'+wantslist.error | translate}}</div>
  <div class="buttons">
    <button type="submit" class="button" translate="wantslist.button_{{wantslist.screen}}"
            ng-disabled="card.$invalid">List this Article</button>
  </div>
</form>

<article>
  <div class="add">
    <button class="button" ng-click="wantslist.screen = 'add'" translate="wantslist.addcard">Add wanted card</button>
  </div>

  <div class="row" ng-show="wantslist.data.count">
    <button class="remove"></button>
    <button class="edit"></button>
    <label class="search">
      <input type="text" ng-model="wantslist.filter" placeholder="{{'wantslist.search' | translate}}">
    </label>
  </div>
  <p ng-show="wantslist.data.loading" class="loading"></p>
  <ul class="list" ng-hide="wantslist.data.loading">
    <li ng-repeat="item in wantslist.data.items | filter:wantslist.filter" ng-if="!item.deleted">
      <!--
      <div class="controls">
        <input type="checkbox" ng-checked="wantslist.selected.indexOf(item) > -1" ng-click="check(article)">
      </div>
      <div class="count">
        {{article.count}}x
      </div>
      <div class="card">
        <a ui-sref="stock.article({articleId:article.idArticle})" ng-if="!article.inShoppingCart">
          {{::article.product.enName}}
          <small ng-hide="::article.language.idLanguage == 1">{{::article.product.locName}}</small>
        </a>
        <span ng-if="::article.inShoppingCart">{{::article.product.name}}</span>
        <div class="card-image" ng-click="article.showImage = 0">
          <img src="" ng-src="{{::article.showImage && (article.product.image | productImage)}}">
        </div>
        <div class="comment" ng-click="article.showComment = 0">{{::article.comments}}</div>
      </div>
      <div class="icons">
        <span ng-class="::article.product | rarityIcon" ng-if="::article.product.rarity"></span>
        <span ng-style="::article.product.expIcon | expansionIcon" ng-if="::article.product.expIcon"
              class="icon expansion-{{::idGame}}"></span>
        <span class="icon language language-{{::article.language.idLanguage}}" ng-if="::article.language.idLanguage"></span>
        <span class="icon grading grading-{{::article.condition}}" ng-if="::article.condition"></span>
        <span class="icon is-foil" ng-if="::article.isFoil"></span>
        <span class="icon is-signed" ng-if="::article.isSigned"></span>
        <span class="icon is-playset" ng-if="::article.isPlayset"></span>
        <span class="icon is-altered" ng-if="::article.isAltered"></span>
        <span class="icon is-firsted" ng-if="::article.isFirstEd"></span>
        <span class="icon comment" ng-if="::article.comments" ng-click="article.showComment = !article.showComment"></span>
      </div>
      <div class="price">{{::article.price | currency:"€"}}</div>
      -->
      wants item
    </li>
    <li class="empty" ng-show="!wantslist.data.count" translate="wantslist.emptylist">
      You haven't added lists to your wants lists yet.
    </li>
  </ul>
</article>
