// messages page
#content.messages {
  header {
    .icons {
      background: white;
      border-radius: 3px;
      line-height: 10px;
      padding: 4px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -12px;
    }
  }
  article {
    .overview { margin-top: 50px; }
    li {
      span.time, button {
        font-weight: bold;
        color: #012169;
        float:right;
        line-height: 24px;
        font-size: 12px;
      }
      button {
        margin-left: 5px;
        border: 0;
        background: url("/img/remove.png") no-repeat center center transparent;
        width: 16px;
        height: 22px;
      }
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // single user view
    ul.thread {
      margin: 60px 10px 60px 10px;
      li {
        margin-bottom: 10px;
        h3 {
          color: #9e9e9e;
          font-size: 12px;
        }
        div {
          background: #d1d7e4;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        }
        .time {
          font-weight: normal;
          color: #9e9e9e;
          float: right;
          line-height: 16px;
          font-size: 12px;
          text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
        }
        button { height: 16px; }
        p { margin:0; white-space: pre-wrap; }
        &.unread div { border-left: 5px solid #0240ca; }
        &.sending div { background: #f5f5f5; }
      }
    }
    form.subheadline {
      position: fixed;
      bottom: 58px;
      width: 100%;
      box-shadow: none;
      border-top: 1px solid #ccc;
      z-index: 1000;
      display: table;
      div { padding: 0 10px; display: table-cell; }
      div.left { width: 100%; }
      textarea {
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        margin: 0px;
        max-height: 30px;
        width: 100%;
        max-width: 100%;
        margin-top: -5px;
      }
      button {
        height: 30px;
        line-height: 30px;
        border: none;
        background: none;
        vertical-align: middle;
      }
    }
    // thread view
    ul.overview {
      p {
        margin:0;
        clear: right;
        font-style: italic;
        color: #444;
      }
      li {
        border-bottom: 1px solid #ccc;
        padding: 10px 25px 10px 10px;
        &:nth-child(even) { background: #fafafa; }
        &.unread { border-left: 5px solid #0240ca; }
        &.sending p:before { content:"↪ "; }
        a { display: block; }
        &:after { right: 10px; }
      }
      li.user p {
        color: #0240ca;
        font-style: normal;
      }
    }
  }
}