.icon.comment { background-image: url('/img/comment.png');background-repeat: no-repeat; width:20px; }
.icon.expansion {background-image: url('/img/expansions.png');background-repeat: no-repeat;}
.expansion-SUS {width: 43px;height: 20px;background-position: -1px -1px;}
.expansion-alarareborn {width: 18px;height: 20px;background-position: -46px -1px;}
.expansion-alliances {width: 43px;height: 20px;background-position: -66px -1px;}
.expansion-alpha {width: 18px;height: 20px;background-position: -111px -1px;}
.expansion-anthologies {width: 36px;height: 20px;background-position: -131px -1px;}
.expansion-antiquities {width: 35px;height: 20px;background-position: -169px -1px;}
.expansion-apaclands {width: 19px;height: 20px;background-position: -206px -1px;}
.expansion-apocalypse {width: 17px;height: 20px;background-position: -227px -1px;}
.expansion-arabiannights {width: 46px;height: 20px;background-position: -246px -1px;}
.expansion-archenemy {width: 17px;height: 20px;background-position: -1px -23px;}
.expansion-arenaleaguepromos {width: 27px;height: 20px;background-position: -20px -23px;}
.expansion-avacynrestored {width: 20px;height: 20px;background-position: -49px -23px;}
.expansion-battleroyale {width: 20px;height: 20px;background-position: -71px -23px;}
.expansion-beatdown {width: 46px;height: 20px;background-position: -93px -23px;}
.expansion-beta {width: 18px;height: 20px;background-position: -141px -23px;}
.expansion-betrayersofkamigawa {width: 21px;height: 20px;background-position: -161px -23px;}
.expansion-bornofthegods {width: 22px;height: 20px;background-position: -184px -23px;}
.expansion-buyaboxpromos {width: 21px;height: 20px;background-position: -208px -23px;}
.expansion-championsofkamigawa {width: 25px;height: 20px;background-position: -231px -23px;}
.expansion-champsstatespromos {width: 63px;height: 20px;background-position: -1px -45px;}
.expansion-chronicles {width: 17px;height: 20px;background-position: -258px -23px;}
.expansion-coldsnap {width: 10px;height: 20px;background-position: -277px -23px;}
.expansion-coldsnapthemedecks {width: 19px;height: 20px;background-position: -66px -45px;}
.expansion-collectorsedition {width: 19px;height: 20px;background-position: -87px -45px;}
.expansion-commander {width: 19px;height: 20px;background-position: -108px -45px;}
.expansion-commander2013 {width: 17px;height: 20px;background-position: -129px -45px;}
.expansion-commandersarsenal {width: 14px;height: 20px;background-position: -289px -23px;}
.expansion-conflux {width: 22px;height: 20px;background-position: -148px -45px;}
.expansion-darkascension {width: 26px;height: 20px;background-position: -172px -45px;}
.expansion-darksteel {width: 16px;height: 20px;background-position: -200px -45px;}
.expansion-dcipromos {width: 49px;height: 20px;background-position: -218px -45px;}
.expansion-deckmasters {width: 17px;height: 20px;background-position: -269px -45px;}
.expansion-dengekimaohpromos {width: 21px;height: 21px;background-position: -1px -67px;}
.expansion-dissension {width: 22px;height: 20px;background-position: -24px -67px;}
.expansion-dragonsmaze {width: 27px;height: 20px;background-position: -48px -67px;}
.expansion-dueldecksajanivsnicolbolas {width: 20px;height: 20px;background-position: -77px -67px;}
.expansion-dueldecksdivinevsdemonic {width: 28px;height: 20px;background-position: -99px -67px;}
.expansion-dueldeckselspethvstezzeret {width: 17px;height: 20px;background-position: -129px -67px;}
.expansion-dueldeckselvesvsgoblins {width: 39px;height: 20px;background-position: -148px -67px;}
.expansion-dueldecksgarrukvsliliana {width: 25px;height: 20px;background-position: -189px -67px;}
.expansion-dueldecksheroesvsmonsters {width: 19px;height: 20px;background-position: -216px -67px;}
.expansion-dueldecksizzetvsgolgari {width: 15px;height: 20px;background-position: -288px -45px;}
.expansion-dueldecksjacevschandra {width: 24px;height: 20px;background-position: -237px -67px;}
.expansion-dueldecksknightsvsdragons {width: 20px;height: 20px;background-position: -263px -67px;}
.expansion-dueldecksphyrexiavsthecoalition {width: 19px;height: 20px;background-position: -24px -89px;}
.expansion-dueldeckssorinvstibalt {width: 17px;height: 20px;background-position: -285px -67px;}
.expansion-dueldecksvenservskoth {width: 21px;height: 20px;background-position: -45px -89px;}
.expansion-duelsoftheplaneswalkersdecks {width: 20px;height: 20px;background-position: -68px -89px;}
.expansion-eighthedition {width: 24px;height: 20px;background-position: -90px -89px;}
.expansion-eurolands {width: 27px;height: 20px;background-position: -116px -89px;}
.expansion-eventide {width: 27px;height: 20px;background-position: -145px -89px;}
.expansion-exodus {width: 50px;height: 20px;background-position: -174px -89px;}
.expansion-fallenempires {width: 24px;height: 20px;background-position: -226px -89px;}
.expansion-fifthdawn {width: 19px;height: 20px;background-position: -252px -89px;}
.expansion-fifthedition {width: 22px;height: 20px;background-position: -273px -89px;}
.expansion-foreignblackbordered {width: 18px;height: 20px;background-position: -1px -111px;}
.expansion-foreignwhitebordered {width: 18px;height: 20px;background-position: -21px -111px;}
.expansion-fourthedition {width: 18px;height: 20px;background-position: -41px -111px;}
.expansion-fourtheditionblackbordered {width: 18px;height: 20px;background-position: -61px -111px;}
.expansion-fridaynightmagicpromos {width: 31px;height: 20px;background-position: -81px -111px;}
.expansion-fromthevaultdragons {width: 26px;height: 20px;background-position: -114px -111px;}
.expansion-fromthevaultexiled {width: 22px;height: 20px;background-position: -142px -111px;}
.expansion-fromthevaultlegends {width: 21px;height: 20px;background-position: -166px -111px;}
.expansion-fromthevaultrealms {width: 26px;height: 20px;background-position: -189px -111px;}
.expansion-fromthevaultrelics {width: 16px;height: 20px;background-position: -217px -111px;}
.expansion-fromthevaulttwenty {width: 19px;height: 20px;background-position: -235px -111px;}
.expansion-futuresight {width: 27px;height: 20px;background-position: -256px -111px;}
.expansion-gamedaypromos {width: 19px;height: 20px;background-position: -1px -133px;}
.expansion-gatecrash {width: 31px;height: 20px;background-position: -22px -133px;}
.expansion-gatewaypromos {width: 38px;height: 20px;background-position: -55px -133px;}
.expansion-guildpact {width: 20px;height: 20px;background-position: -95px -133px;}
.expansion-gurulands {width: 44px;height: 20px;background-position: -117px -133px;}
.expansion-harperprismpromos {width: 19px;height: 20px;background-position: -163px -133px;}
.expansion-homelands {width: 20px;height: 20px;background-position: -184px -133px;}
.expansion-iceage {width: 19px;height: 20px;background-position: -206px -133px;}
.expansion-innistrad {width: 22px;height: 20px;background-position: -227px -133px;}
.expansion-internationaledition {width: 19px;height: 20px;background-position: -251px -133px;}
.expansion-introductorytwoplayerset {width: 19px;height: 20px;background-position: -272px -133px;}
.expansion-invasion {width: 14px;height: 20px;background-position: -285px -111px;}
.expansion-japanjuniortournamentpromos {width: 19px;height: 20px;background-position: -1px -155px;}
.expansion-judgement {width: 23px;height: 20px;background-position: -22px -155px;}
.expansion-judgerewardspromos {width: 19px;height: 20px;background-position: -47px -155px;}
.expansion-legends {width: 20px;height: 20px;background-position: -68px -155px;}
.expansion-legions {width: 44px;height: 20px;background-position: -90px -155px;}
.expansion-lorwyn {width: 15px;height: 20px;background-position: -136px -155px;}
.expansion-magic2010 {width: 37px;height: 20px;background-position: -153px -155px;}
.expansion-magic2011 {width: 36px;height: 20px;background-position: -192px -155px;}
.expansion-magic2012 {width: 37px;height: 20px;background-position: -230px -155px;}
.expansion-magic2013 {width: 37px;height: 20px;background-position: -1px -177px;}
.expansion-magic2014 {width: 37px;height: 20px;background-position: -40px -177px;}
.expansion-magicpremiereshoppromos {width: 19px;height: 20px;background-position: -269px -155px;}
.expansion-magicthegatheringproducts {width: 21px;height: 19px;background-position: -79px -177px;}
.expansion-mercadianmasques {width: 20px;height: 20px;background-position: -102px -177px;}
.expansion-mirage {width: 21px;height: 20px;background-position: -124px -177px;}
.expansion-mirrodin {width: 37px;height: 20px;background-position: -147px -177px;}
.expansion-mirrodinbesieged {width: 17px;height: 20px;background-position: -186px -177px;}
.expansion-misprints {width: 21px;height: 20px;background-position: -205px -177px;}
.expansion-modernmasters {width: 24px;height: 20px;background-position: -228px -177px;}
.expansion-morningtide {width: 20px;height: 20px;background-position: -254px -177px;}
.expansion-nemesis {width: 45px;height: 20px;background-position: -1px -199px;}
.expansion-newphyrexia {width: 14px;height: 20px;background-position: -276px -177px;}
.expansion-ninthedition {width: 24px;height: 20px;background-position: -48px -199px;}
.expansion-odyssey {width: 14px;height: 20px;background-position: -74px -199px;}
.expansion-onslaught {width: 26px;height: 20px;background-position: -90px -199px;}
.expansion-oversized6x9promos {width: 19px;height: 20px;background-position: -118px -199px;}
.expansion-oversizedboxtoppers {width: 19px;height: 20px;background-position: -139px -199px;}
.expansion-planarchaos {width: 26px;height: 20px;background-position: -160px -199px;}
.expansion-planechase {width: 27px;height: 20px;background-position: -188px -199px;}
.expansion-planechase2012 {width: 27px;height: 20px;background-position: -217px -199px;}
.expansion-planeshift {width: 38px;height: 20px;background-position: -246px -199px;}
.expansion-playerrewardspromos {width: 19px;height: 20px;background-position: -1px -221px;}
.expansion-portal {width: 20px;height: 20px;background-position: -22px -221px;}
.expansion-portalsecondage {width: 20px;height: 20px;background-position: -44px -221px;}
.expansion-portalthreekingdoms {width: 17px;height: 20px;background-position: -286px -199px;}
.expansion-premiumdeckseriesfirelightning {width: 15px;height: 20px;background-position: -66px -221px;}
.expansion-premiumdeckseriesgraveborn {width: 22px;height: 20px;background-position: -83px -221px;}
.expansion-premiumdeckseriesslivers {width: 22px;height: 20px;background-position: -107px -221px;}
.expansion-prereleasepromos {width: 38px;height: 20px;background-position: -131px -221px;}
.expansion-promos {width: 63px;height: 20px;background-position: -171px -221px;}
.expansion-prophecy {width: 25px;height: 20px;background-position: -236px -221px;}
.expansion-ravnicacityofguilds {width: 13px;height: 20px;background-position: -290px -155px;}
.expansion-releasepromos {width: 38px;height: 20px;background-position: -263px -221px;}
.expansion-renaissance {width: 17px;height: 20px;background-position: -1px -243px;}
.expansion-returntoravnica {width: 20px;height: 20px;background-position: -20px -243px;}
.expansion-revised {width: 18px;height: 20px;background-position: -42px -243px;}
.expansion-rinascimento {width: 17px;height: 20px;background-position: -62px -243px;}
.expansion-riseoftheeldrazi {width: 22px;height: 20px;background-position: -81px -243px;}
.expansion-salvat {width: 19px;height: 20px;background-position: -105px -243px;}
.expansion-salvat2011 {width: 19px;height: 20px;background-position: -126px -243px;}
.expansion-sandiegocomiccon2013promos {width: 21px;height: 21px;background-position: -147px -243px;}
.expansion-saviorsofkamigawa {width: 19px;height: 20px;background-position: -170px -243px;}
.expansion-scarsofmirrodin {width: 20px;height: 20px;background-position: -191px -243px;}
.expansion-scourge {width: 20px;height: 20px;background-position: -213px -243px;}
.expansion-seventhedition {width: 16px;height: 20px;background-position: -235px -243px;}
.expansion-shadowmoor {width: 35px;height: 20px;background-position: -253px -243px;}
.expansion-shardsofalara {width: 18px;height: 20px;background-position: -1px -265px;}
.expansion-simplifiedchinesealteredart {width: 20px;height: 20px;background-position: -21px -265px;}
.expansion-sixthedition {width: 28px;height: 20px;background-position: -43px -265px;}
.expansion-starter1999 {width: 19px;height: 20px;background-position: -73px -265px;}
.expansion-starter2000 {width: 18px;height: 20px;background-position: -94px -265px;}
.expansion-stronghold {width: 19px;height: 20px;background-position: -114px -265px;}
.expansion-summermagic {width: 19px;height: 20px;background-position: -170px -265px;}
.expansion-tempest {width: 20px;height: 20px;background-position: -191px -265px;}
.expansion-tenthedition {width: 25px;height: 20px;background-position: -213px -265px;}
.expansion-thedark {width: 21px;height: 20px;background-position: -240px -265px;}
.expansion-theduelistpromos {width: 19px;height: 20px;background-position: -263px -265px;}
.expansion-theros {width: 20px;height: 20px;background-position: -294px -1px;}
.expansion-timespiral {width: 18px;height: 20px;background-position: -305px -23px;}
.expansion-torment {width: 19px;height: 20px;background-position: -305px -45px;}
.expansion-unglued {width: 31px;height: 20px;background-position: -293px -133px;}
.expansion-unhinged {width: 18px;height: 20px;background-position: -304px -67px;}
.expansion-unlimited {width: 18px;height: 20px;background-position: -297px -89px;}
.expansion-urzasdestiny {width: 19px;height: 20px;background-position: -301px -111px;}
.expansion-urzaslegacy {width: 35px;height: 20px;background-position: -290px -243px;}
.expansion-urzassaga {width: 31px;height: 20px;background-position: -292px -177px;}
.expansion-vanguard {width: 19px;height: 20px;background-position: -305px -155px;}
.expansion-visions {width: 17px;height: 20px;background-position: -305px -199px;}
.expansion-wallmartpromos {width: 19px;height: 20px;background-position: -303px -221px;}
.expansion-weatherlight {width: 31px;height: 20px;background-position: -284px -265px;}
.expansion-worldchampionshipdecks {width: 19px;height: 20px;background-position: -1px -287px;}
.expansion-worldwake {width: 17px;height: 20px;background-position: -22px -287px;}
.expansion-zendikar {width: 17px;height: 20px;background-position: -41px -287px;}
