@mixin gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top,  $color1 0%, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%);
  background: -o-linear-gradient(top,  $color1 0%,$color2 100%);
  background: -ms-linear-gradient(top,  $color1 0%,$color2 100%);
  background: linear-gradient(to bottom,  $color1 0%,$color2 100%);
}

// General styling
body, html {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  font-size: 14px;
  background: #fdfdfd;
}
a { text-decoration: none; color: #0240ca; }
input, button, select { vertical-align: baseline; }
select {
  background: #eaeaea;
  border: 3px solid #eaeaea;
  margin-top: -6px;
  padding: 2px;
  border-radius: 3px;
}
ul,li {
  list-style-type: none;
  padding: 0;
  margin:0;
}
:focus { color:#012169; outline: none; }
hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: -1px;
  padding-top: 1px;
  z-index: 1000;
  max-height: 100%;
  height: 50px;
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #011542;
  @include gradient(#012678,#011d5d);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  &.loading { background-color: #012678; }
  .back {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 10px;
    width: 20px;
    height: 21px;
    display: block;
    background: url("/img/back.png") center center no-repeat;
  }
}

article { padding: 51px 0 60px 0; }
body.loggedout article { padding-bottom: 0px; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  z-index: 500;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-top: 1px solid #cccccc;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
  background: #fbfbfb;
  background: -moz-linear-gradient(top,  #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(33%,#eaeaea), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,  #fbfbfb 0%,#eaeaea 33%,#eaeaea 100%);
  background: -o-linear-gradient(top,  #fbfbfb 0%,#eaeaea 33%,#eaeaea 100%);
  background: -ms-linear-gradient(top,  #fbfbfb 0%,#eaeaea 33%,#eaeaea 100%);
  background: linear-gradient(to bottom,  #fbfbfb 0%,#eaeaea 33%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eaeaea',GradientType=0 );
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("/img/menu.png") no-repeat;
    -webkit-background-size: 500%;
    background-size: 500%;
    vertical-align: middle;
    margin: 0 5%;
    position: relative;
    span {
      background: #e3494e;
      border-radius: 2px;
      height: 18px;
      text-align: center;
      display: inline-block;
      color: white;
      padding: 0 5px;
      line-height: 18px;
      position: absolute;
      right: -9px;
      top: -3px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    &.home { background-position: 25% 50%; }
    &.home:hover,&.home:active { background-position: 0% 50%; }
    &.login { background-position: 50% 25%; }
    &.login:hover,&.login:active { background-position: 75% 25%; }
    &.search { background-position: 75% 75%; }
    &.search:hover,&.search:active { background-position: 50% 75%; }
    &.cart { background-position: 0% 25%; }
    &.cart:hover,&.cart:active { background-position: 25% 25%; }
    &.settings { background-position: 75% 50%; }
    &.settings:hover,&.settings:active { background-position: 50% 50%; }
  }
}

// subheadline - container
.subheadline {
  background: #eaeaea;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.75);
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

// link title
.title {
  font-size: 16px;
  color: #012169;
  font-weight: bold;
}

// gray bar
.titlebar {
  border: 1px solid #ccc;
  background: #eaeaea;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 10px;
  .right { float: right; }
}

// headlines
h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  text-align: center;
}

// text fields
input, textarea {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  font-weight: normal;
  padding: 5px;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder { color: #ccc; }
}

// buttons
.button {
//  height: 50px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: #012169;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  border: none;
  display: inline-block;
  &:focus { background: #0240ca; color: #fff; }
  &.green { background: #15704b; }
}

// errors
.error {
  display: block;
  font-weight: bold;
  color: red;
  padding: 10px;
  text-align: center;
}

// loading
.loading {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
ul.loading {
  background-position: center bottom;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat;
}

// Transition between screens
#container {
  position: relative;
  height: 100%;
  #content {
    height: 100%;
    &.ng-enter, &.ng-leave {
      -webkit-transition: 0.3s linear all;
      -moz-transition: 0.3s linear all;
      -ms-transition: 0.3s linear all;
      -o-transition: 0.3s linear all;
      transition: 0.3s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
    }
    &.ng-enter { opacity:0; }
    &.ng-enter.ng-enter-active { opacity:1; }
    &.ng-leave { opacity:1; }
    &.ng-leave.ng-leave-active { opacity:0; }
  }
}

// Product Slider
aside.slider {
  -webkit-transition: 0.5s linear all;-moz-transition: 0.5s linear all;-ms-transition: 0.5s linear all;-o-transition: 0.5s linear all;transition: 0.5s linear all;
  position: fixed;
  top: -100%;
  margin-top: 50px;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  z-index: 750;
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 10px 10px;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: auto;
    div, b, img {
      display: inline-block;
      vertical-align: middle;
    }
    .aligner {
      height: 100%;
      width: 0;
    }
    .data {
      white-space: normal;
      img { margin: 20px; max-width: 50%; }
      .text { text-align: left; }
      b { min-width: 200px; }
      .reprints {
        max-width: 600px;
        margin-top: 10px;
        max-height: 228px;
        overflow: auto;
        span { margin: 5px 2px 0 0; }
      }
    }
  }
  .toggle {
    height: 10px;
    width: 100%;
    background: #eaeaea;
    cursor: s-resize;
    position: fixed;
    top: 60px;
    margin-top: -10px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 3px;
    font-weight: bold;
    color: #b4b4b4;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  &.open { top: -110px; }
  &.open .toggle { cursor: n-resize; top: 100%; margin-top: -70px; }
}
body.loggedout aside.slider.open { top: -60px; }
body.loggedout aside.slider.open .toggle { margin-top: -10px; }

// Order directive
mkm-order {
  .seller, .buyer {
    padding: 10px;
  }
  .articles {
    display: table;
    width: 100%;
    li {
      display: table-row;
      font-weight: bold;
      color: #012169;
    }
    li > div {
      display: table-cell;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      vertical-align: middle;
      &:first-child { padding-left: 10px; }
      &:last-child { padding-right: 10px; }
    }
    div.controls { width: 20px; }
    div.card { padding-left: 10px; }
    div.icons { text-align: center; white-space: nowrap; }
    div.price { text-align: right; }
    i { display: block; }
    button {
      background: url("/img/remove.png") center center no-repeat;
      border: none;
      vertical-align: middle;
      width: 20px;
      height: 20px;
    }
  }
  .shipping {
    padding: 10px;
    text-align: center;
    select { max-width: 90%; }
  }
}

// Search directive
mkm-search {
  .subheadline {
    display: table;
    width: 100%;
    div { display: table-cell; }
    div.left {
      width: 100%;
      padding: 0 47px 0 5px;
    }
    input {
      width: 100%;
      padding-left: 35px;
      background: url("/img/search.png") 5px 5px no-repeat #fff;
    }
    button {
      border: none;
      background: transparent;
      height: 40px;
      line-height: 40px;
    }
  }
  .results {
    // search results
    li {
      padding: 0 10px;
      line-height: 40px;
      border-bottom: 1px solid #ccc;
      position: relative;
      padding-right: 15px;
      &:nth-child(even) { background: #fafafa; }
      &:after {
        content: url("/img/link.png");
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -11px;
      }
    }
    a {
      color: #0240ca;
      font-weight: bold;
      font-size: 16px;
      display: block;
    }
  }
}

/***********************/
// Styling per Screen
/***********************/
@import "screen.login";
@import "screen.product";
@import "screen.home";
@import "screen.cart";
@import "screen.settings";
@import "screen.messages";

// search page
#content.search {
  footer .search { background-position: 50% 75%; }
}

// legal
#content.legal {
  article {
    p, ul { margin: 10px; }
    b {
      display: block;
      margin: 10px 0;
    }
    ol li {
      list-style-type: decimal;
      padding: 5px 0;
    }
  }
}

// contact
#content.contact {
  article {
    p { padding: 10px; }
  }
}

// stock page
#content.stock {
  article {
    &.product { padding-top: 50px; }
    .product, .icons, .price {
      display: inline-block;
      width: 33%;
    }
    .price { text-align: right; }
    .icons { text-align: center; }
  }
}

// article page
#content.article {
  article {
    margin-top: 45px;
  }
}

// order page
#content.buys, #content.sells {
  article {
    position: relative;
    .tabs li {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
      &.current {
        background: silver;
      }
    }
    .evaluation {
      b {
        display: inline-block;
        vertical-align: middle;
        min-width: 200px;
      }
    }
  }
  // evaluation
  article.evaluation {
    label { display: block; }
    div.overlay {
      position: absolute;
      top: 15px;
      height: 100%;
      background: rgba(255,255,255,0.9);
      width: 100%;
      opacity: 1;
      transition:all linear 0.5s;
      &.ng-hide-add, &.ng-hide-remove { display:block!important; }
      &.ng-hide { opacity:0; }
    }
  }
}