@charset "UTF-8";
body, html {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  font-size: 14px;
  background: #fdfdfd; }

a {
  text-decoration: none; }

input, button, select {
  vertical-align: baseline; }

select {
  background: #eaeaea;
  border: none; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

:focus {
  color: #012169;
  outline: none; }

header {
  position: fixed;
  left: 0;
  right: 0;
  top: -1px;
  padding-top: 1px;
  background: #eee;
  z-index: 1000;
  max-height: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #011542;
  background: #012678;
  background: -moz-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #012678), color-stop(100%, #011d5d));
  background: -webkit-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -o-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -ms-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: linear-gradient(to bottom, #012678 0%, #011d5d 100%);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

article {
  padding: 50px 10px 55px 10px; }

body.loggedout article {
  padding-bottom: 0px; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  background: white;
  z-index: 1000;
  height: 55px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 25px; }
  footer a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("/img/menu.png") no-repeat;
    -webkit-background-size: 500%;
    background-size: 500%;
    vertical-align: top;
    text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
    color: white;
    margin: 0 5px; }
    footer a.home {
      background-position: 25% 50%;
      line-height: 44px; }
    footer a.home:hover {
      background-position: 0% 50%; }
    footer a.login {
      background-position: 50% 25%; }
    footer a.login:hover {
      background-position: 75% 25%; }
    footer a.search {
      background-position: 75% 75%; }
    footer a.search:hover {
      background-position: 50% 75%; }
    footer a.cart {
      background-position: 0% 25%;
      text-indent: 6px; }
    footer a.cart:hover {
      background-position: 25% 25%; }
    footer a.settings {
      background-position: 75% 50%; }
    footer a.settings:hover {
      background-position: 50% 50%; }

.subheadline, #content.login .input {
  background: #eaeaea;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  text-align: center; }

input {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  padding: 5px; }
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
    color: #ccc; }

.button {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: #012169;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  border: none; }
  .button:focus {
    background: #0240ca;
    color: #fff; }

.loading {
  background: url("/img/loading.gif") no-repeat center center; }

ul.loading {
  background-position: center bottom;
  padding-bottom: 40px;
  margin-bottom: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat; }

#container {
  position: relative;
  height: 100%; }
  #container #content {
    height: 100%; }
    #container #content.ng-enter, #container #content.ng-leave {
      -webkit-transition: 0.5s linear all;
      -moz-transition: 0.5s linear all;
      -ms-transition: 0.5s linear all;
      -o-transition: 0.5s linear all;
      transition: 0.5s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white; }
    #container #content.ng-enter {
      opacity: 0; }
    #container #content.ng-enter.ng-enter-active {
      opacity: 1; }
    #container #content.ng-leave {
      opacity: 1; }
    #container #content.ng-leave.ng-leave-active {
      opacity: 0; }

aside.slider {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: fixed;
  top: -100%;
  margin-top: 50px;
  padding-bottom: 10px;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  aside.slider.open {
    top: -110px; }
  aside.slider .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 80px;
    height: 100%;
    white-space: nowrap; }
    aside.slider .content .aligner {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0; }
    aside.slider .content img {
      vertical-align: middle; }
    aside.slider .content .data {
      display: inline-block;
      vertical-align: middle;
      white-space: normal; }
    aside.slider .content .reprints {
      margin-top: 10px; }
  aside.slider .toggle {
    height: 10px;
    width: 100%;
    background: grey;
    cursor: s-resize;
    position: absolute;
    bottom: 0; }
  aside.slider.open .toggle {
    cursor: n-resize; }

body.loggedout aside.slider.open {
  top: -60px; }

mkm-order div.icons, mkm-order div.price, mkm-order div.card {
  display: inline-block;
  width: 33%; }
mkm-order div.icons {
  text-align: center; }
mkm-order div.price {
  text-align: right; }
mkm-order i {
  display: block; }

/***********************/
/***********************/
#content.login article {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0; }
  #content.login article:before {
    content: " ";
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  #content.login article form {
    display: inline-block;
    width: 100%; }
  #content.login article iframe {
    width: 80%;
    height: 360px;
    border: none; }
  #content.login article img.logo {
    width: 70%;
    margin: auto;
    display: block; }
#content.login .input {
  display: table;
  width: 100%;
  position: fixed;
  z-index: 100; }
  #content.login .input div {
    display: table-cell; }
  #content.login .input div.left {
    width: 100%;
    padding: 0 45px 0 5px; }
  #content.login .input input {
    width: 100%;
    padding-left: 35px;
    background: url("/img/search.png") 5px 5px no-repeat white; }
  #content.login .input button {
    border: none;
    background: transparent;
    height: 40px;
    line-height: 40px; }
#content.login .results {
  position: absolute;
  top: 55px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  z-index: 10;
  min-height: 80%; }
  #content.login .results li {
    padding: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-right: 15px; }
    #content.login .results li:nth-child(odd) {
      background: rgba(250, 250, 250, 0.25); }
    #content.login .results li:after {
      content: url("/img/link.png");
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -11px; }
  #content.login .results a {
    color: #0240ca;
    font-weight: bold;
    font-size: 16px;
    display: block; }

#content.product header {
  padding-right: 60px;
  padding-left: 60px; }
  #content.product header .box {
    background: white;
    border-radius: 3px;
    line-height: 10px;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px; }
#content.product article {
  padding-top: 60px; }
  #content.product article ul {
    display: table;
    width: 100%; }
  #content.product article li {
    display: table-row; }
  #content.product article li > div {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    white-space: nowrap;
    text-align: left; }
  #content.product article .seller {
    cursor: pointer;
    font-weight: bold;
    color: #0240ca; }
  #content.product article div.icons .icon.comment {
    cursor: pointer; }
  #content.product article div.price {
    text-align: right;
    width: 150px; }
  #content.product article div.price .icon.is-playset {
    display: none; }
  #content.product article div.price.playset .price, #content.product article div.price.playset .price-per-card {
    font-weight: bold;
    color: #0240ca;
    cursor: pointer; }
  #content.product article div.price.playset .icon.is-playset {
    display: inline-block; }
  #content.product article .count {
    display: inline-block;
    min-width: 20px;
    text-align: center; }
  #content.product article button {
    border: none;
    background: gray;
    color: white;
    font-weight: bold;
    height: 25px;
    width: 25px;
    padding: 0;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 12px;
    outline: none; }
  #content.product article .price button {
    background-image: url("/img/cart.png");
    background-repeat: no-repeat;
    background-position: 4px 4px; }
  #content.product article .comment {
    text-align: center; }

#content.home header img {
  height: 35px; }
#content.home article {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }
  #content.home article span {
    display: inline-block;
    width: 0;
    height: 33%;
    vertical-align: middle; }
  #content.home article a {
    color: #444;
    text-align: center;
    width: 50%;
    display: inline-block;
    position: relative;
    padding-top: 90px;
    font-weight: bold;
    vertical-align: middle; }
    #content.home article a:hover {
      color: #012169; }
    #content.home article a:before {
      content: " ";
      display: inline-block;
      width: 80px;
      height: 80px;
      background: url("/img/menu.png") no-repeat;
      -webkit-background-size: 500%;
      background-size: 500%;
      vertical-align: top;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px; }
    #content.home article a.stock {
      width: 100%; }
    #content.home article a.stock:before {
      background-position: 0 0; }
    #content.home article a.stock:hover:before {
      background-position: 25% 0%; }
    #content.home article a.buys:before {
      background-position: 50% 0%; }
    #content.home article a.buys:hover:before {
      background-position: 75% 0%; }
    #content.home article a.sells:before {
      background-position: 100% 25%; }
    #content.home article a.sells:hover:before {
      background-position: 100% 0%; }
    #content.home article a.messages {
      width: 100%; }
    #content.home article a.messages:before {
      background-position: 0% 75%; }
    #content.home article a.messages:hover:before {
      background-position: 25% 75%; }
#content.home footer .home {
  background-position: 0% 50%; }

#content.search footer .search {
  background-position: 50% 75%; }

#content.settings footer .settings {
  background-position: 50% 50%; }

#content.cart article i {
  display: block; }
#content.cart article .order a {
  font-weight: bold; }
#content.cart article .order a span {
  font-weight: normal; }
#content.cart footer .cart {
  background-position: 25% 25%; }

#content.stock article.product {
  padding-top: 50px; }
#content.stock article .product, #content.stock article .icons, #content.stock article .price {
  display: inline-block;
  width: 33%; }
#content.stock article .price {
  text-align: right; }
#content.stock article .icons {
  text-align: center; }

#content.article article {
  margin-top: 45px; }

#content.buys article, #content.sells article {
  position: relative; }
  #content.buys article .tabs li, #content.sells article .tabs li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    cursor: pointer; }
    #content.buys article .tabs li.current, #content.sells article .tabs li.current {
      background: silver; }
  #content.buys article .evaluation b, #content.sells article .evaluation b {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px; }
#content.buys article.evaluation label, #content.sells article.evaluation label {
  display: block; }
#content.buys article.evaluation div.overlay, #content.sells article.evaluation div.overlay {
  position: absolute;
  top: 15px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  opacity: 1;
  transition: all linear 0.5s; }
  #content.buys article.evaluation div.overlay.ng-hide-add, #content.buys article.evaluation div.overlay.ng-hide-remove, #content.sells article.evaluation div.overlay.ng-hide-add, #content.sells article.evaluation div.overlay.ng-hide-remove {
    display: block !important; }
  #content.buys article.evaluation div.overlay.ng-hide, #content.sells article.evaluation div.overlay.ng-hide {
    opacity: 0; }

#content.messages article h3 {
  margin: 0; }
#content.messages article div.search label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/menu.png") no-repeat;
  -webkit-background-size: 500%;
  background-size: 500%;
  vertical-align: middle;
  background-position: 75% 75%; }
#content.messages article div.search input {
  vertical-align: middle; }
#content.messages article li span.time, #content.messages article li button {
  float: right;
  line-height: 24px; }
#content.messages article li button {
  margin-left: 10px;
  border: 0;
  background: #444;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 16px;
  font-weight: bold; }
#content.messages article ul.thread li {
  margin-bottom: 10px; }
  #content.messages article ul.thread li h3 {
    text-align: center; }
  #content.messages article ul.thread li div {
    background: #d1d7e5;
    padding: 10px; }
  #content.messages article ul.thread li p {
    margin: 0;
    white-space: pre-wrap; }
  #content.messages article ul.thread li.unread div {
    border-left: 5px solid #012269; }
  #content.messages article ul.thread li.sending div {
    background: #f5f5f5; }
#content.messages article ul.overview p {
  margin: 0;
  clear: right; }
#content.messages article ul.overview li {
  border-bottom: 1px solid black; }
  #content.messages article ul.overview li.unread {
    border-left: 5px solid #012269; }
  #content.messages article ul.overview li.sending p:before {
    content: "↪ "; }
