// General styling
a {
  text-decoration: none;
}
ul,li {
  list-style-type: none;
  padding: 0;
  margin:0;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: -1px;
  padding-top: 1px;
  background: white;
  z-index: 1000;
}

article {
  margin-bottom: 35px;
  margin-top: 35px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  background: white;
  z-index: 1000;
}

.loading {
  position: relative;
  background: red;
  &:before {
    content: "LOADING";
    position: absolute;
    color: red;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}

// Transition between screens
#container {
  position: relative;
  #content {
    &.ng-enter, &.ng-leave {
      -webkit-transition: 0.5s linear all;-moz-transition: 0.5s linear all;-ms-transition: 0.5s linear all;-o-transition: 0.5s linear all;transition: 0.5s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
    }
    &.ng-enter { opacity:0; }
    &.ng-enter.ng-enter-active { opacity:1; }
    &.ng-leave { opacity:1; }
    &.ng-leave.ng-leave-active { opacity:0; }
  }
}

// Styling per Screen
#content.login {
  form {
    // login form
    position: fixed;
    input, button { display: block; }
  }
  aside {
    // search results
    position: absolute;
    background: rgba(255,255,255,0.75);
    width: 100%;
    z-index: 10;
  }
}

#content.product {
  .icon.comment { cursor:pointer; }
}