@charset "UTF-8";
body, html {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  font-size: 14px;
  background: #fdfdfd; }

a {
  text-decoration: none;
  color: #0240ca; }

input, button, select {
  vertical-align: baseline; }

select {
  background: #eaeaea;
  border: 3px solid #eaeaea;
  padding: 2px;
  border-radius: 3px; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

:focus {
  color: #012169;
  outline: none; }

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc; }

header {
  position: fixed;
  left: 0;
  right: 0;
  top: -1px;
  padding-top: 1px;
  z-index: 1000;
  max-height: 100%;
  height: 50px;
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #011542;
  background: #012678;
  background: -moz-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #012678), color-stop(100%, #011d5d));
  background: -webkit-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -o-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: -ms-linear-gradient(top, #012678 0%, #011d5d 100%);
  background: linear-gradient(to bottom, #012678 0%, #011d5d 100%);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px; }
  header.loading {
    background-color: #012678; }
  header .back {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 10px;
    width: 20px;
    height: 21px;
    display: block;
    background: url("/img/back.png") center center no-repeat; }

article {
  padding: 51px 0 60px 0; }

body.loggedout article {
  padding-bottom: 0px; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  z-index: 500;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-top: 1px solid #cccccc;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(33%, #eaeaea), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #eaeaea 33%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#eaeaea',GradientType=0 ); }
  footer a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("/img/menu.png") no-repeat;
    -webkit-background-size: 500%;
    background-size: 500%;
    vertical-align: middle;
    margin: 0 5%;
    position: relative; }
    footer a span {
      background: #e3494e;
      border-radius: 2px;
      height: 18px;
      text-align: center;
      display: inline-block;
      color: white;
      padding: 0 5px;
      line-height: 18px;
      position: absolute;
      right: -9px;
      top: -3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    footer a.home {
      background-position: 25% 50%; }
    footer a.home:hover, footer a.home:active {
      background-position: 0% 50%; }
    footer a.login {
      background-position: 50% 25%; }
    footer a.login:hover, footer a.login:active {
      background-position: 75% 25%; }
    footer a.search {
      background-position: 75% 75%; }
    footer a.search:hover, footer a.search:active {
      background-position: 50% 75%; }
    footer a.cart {
      background-position: 0% 25%; }
    footer a.cart:hover, footer a.cart:active {
      background-position: 25% 25%; }
    footer a.settings {
      background-position: 75% 50%; }
    footer a.settings:hover, footer a.settings:active {
      background-position: 50% 50%; }

.subheadline {
  background: #eaeaea;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
  .subheadline.search {
    display: table;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    top: 51px;
    z-index: 10; }
    .subheadline.search div {
      display: table-cell; }
    .subheadline.search div.left {
      width: 100%;
      padding: 0 47px 0 5px; }
    .subheadline.search input {
      width: 100%;
      padding-left: 35px;
      background: url("/img/search.png") 5px 5px no-repeat white; }
    .subheadline.search button {
      border: none;
      background: transparent;
      height: 40px;
      line-height: 40px; }

.title {
  font-size: 16px;
  color: #012169;
  font-weight: bold; }

.titlebar {
  border: 1px solid #ccc;
  background: #eaeaea;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 10px; }
  .titlebar .right {
    float: right; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  text-align: center; }

input, textarea {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  padding: 5px; }
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
    color: #ccc; }

.button {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: #012169;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  border: none;
  display: inline-block; }
  .button:focus {
    background: #0240ca;
    color: #fff; }
  .button.green {
    background: #15704b; }

.error {
  display: block;
  font-weight: bold;
  color: red;
  padding: 10px;
  text-align: center; }

.loading {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center center; }

ul.loading {
  background-position: center bottom;
  padding-bottom: 40px;
  margin-bottom: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat; }

#container {
  position: relative;
  height: 100%; }
  #container #content {
    height: 100%; }
    #container #content.ng-enter, #container #content.ng-leave {
      -webkit-transition: 0.3s linear all;
      -moz-transition: 0.3s linear all;
      -ms-transition: 0.3s linear all;
      -o-transition: 0.3s linear all;
      transition: 0.3s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white; }
    #container #content.ng-enter {
      opacity: 0; }
    #container #content.ng-enter.ng-enter-active {
      opacity: 1; }
    #container #content.ng-leave {
      opacity: 1; }
    #container #content.ng-leave.ng-leave-active {
      opacity: 0; }

aside.slider {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: fixed;
  top: -100%;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 750; }
  aside.slider .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 10px 10px;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: auto; }
    aside.slider .content div, aside.slider .content b, aside.slider .content img {
      display: inline-block;
      vertical-align: middle; }
    aside.slider .content .aligner {
      height: 100%;
      width: 0; }
    aside.slider .content .data {
      white-space: normal; }
      aside.slider .content .data img {
        margin: 20px;
        max-width: 50%; }
      aside.slider .content .data .text {
        text-align: left; }
      aside.slider .content .data b {
        min-width: 200px; }
      aside.slider .content .data .reprints {
        max-width: 600px;
        margin-top: 10px;
        max-height: 228px;
        overflow: auto; }
        aside.slider .content .data .reprints span {
          margin: 5px 2px 0 0; }
  aside.slider .toggle {
    height: 10px;
    width: 100%;
    background: #eaeaea;
    cursor: s-resize;
    position: fixed;
    top: 60px;
    margin-top: -10px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 3px;
    font-weight: bold;
    color: #b4b4b4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  aside.slider.open {
    top: -110px; }
  aside.slider.open .toggle {
    cursor: n-resize;
    top: 100%;
    margin-top: -70px; }

body.loggedout aside.slider.open {
  top: -60px; }

body.loggedout aside.slider.open .toggle {
  margin-top: -10px; }

mkm-order .seller, mkm-order .buyer {
  padding: 10px; }
mkm-order .articles {
  display: table;
  width: 100%; }
  mkm-order .articles li {
    display: table-row;
    font-weight: bold;
    color: #012169; }
  mkm-order .articles li > div {
    display: table-cell;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    vertical-align: middle; }
    mkm-order .articles li > div:first-child {
      padding-left: 10px; }
    mkm-order .articles li > div:last-child {
      padding-right: 10px; }
  mkm-order .articles div.controls {
    width: 20px; }
  mkm-order .articles div.card {
    padding-left: 10px; }
  mkm-order .articles div.icons {
    text-align: center;
    white-space: nowrap; }
  mkm-order .articles div.price {
    text-align: right; }
  mkm-order .articles i {
    display: block; }
  mkm-order .articles button {
    background: url("/img/remove.png") center center no-repeat;
    border: none;
    vertical-align: middle;
    width: 20px;
    height: 20px; }
mkm-order .shipping {
  padding: 10px;
  text-align: center; }
  mkm-order .shipping select {
    max-width: 90%; }

mkm-search .results {
  margin-top: 60px; }
  mkm-search .results li {
    padding: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-right: 15px; }
    mkm-search .results li:nth-child(even) {
      background: #fafafa; }
    mkm-search .results li:after {
      content: url("/img/link.png");
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -11px; }
  mkm-search .results a {
    color: #0240ca;
    font-weight: bold;
    font-size: 16px;
    display: block; }

/***********************/
/***********************/
#content.login article {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0; }
  #content.login article:before {
    content: " ";
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  #content.login article form {
    display: inline-block;
    width: 100%; }
  #content.login article iframe {
    width: 80%;
    height: 360px;
    border: none; }
  #content.login article img.logo {
    width: 70%;
    margin: 20px auto;
    display: block; }
#content.login .subheadline {
  position: fixed;
  z-index: 100; }
#content.login .results {
  position: absolute;
  top: 55px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  z-index: 10;
  min-height: 80%; }
  #content.login .results li:nth-child(even) {
    background: rgba(250, 250, 250, 0.25); }

#content.product header {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: normal; }
  #content.product header .box {
    background: white;
    border-radius: 3px;
    line-height: 10px;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px; }
#content.product article {
  padding: 60px 10px 60px 10px; }
  #content.product article .table {
    display: table;
    width: 100%; }
  #content.product article .row {
    display: table-row;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
    height: 30px; }
  #content.product article .cell {
    display: table-cell;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-align: left;
    vertical-align: top; }
  #content.product article div.seller {
    cursor: pointer;
    font-weight: bold;
    color: #0240ca; }
    #content.product article div.seller .name {
      display: inline-block;
      max-width: 40px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: top;
      background: #fdfdfd;
      position: relative;
      z-index: 10;
      -webkit-transition: max-width 500ms;
      -moz-transition: max-width 500ms;
      -ms-transition: max-width 500ms;
      -o-transition: max-width 500ms;
      transition: max-width 500ms; }
      @media screen and (min-width: 420px) {
        #content.product article div.seller .name {
          max-width: 100px; } }
      @media screen and (min-width: 530px) {
        #content.product article div.seller .name {
          max-width: 220px; } }
    #content.product article div.seller .details {
      position: absolute;
      left: 50px;
      z-index: 1; }
      @media screen and (min-width: 420px) {
        #content.product article div.seller .details {
          left: 110px; } }
      @media screen and (min-width: 530px) {
        #content.product article div.seller .details {
          left: 230px; } }
  #content.product article .row.seller .seller .name {
    max-width: 300px; }
  #content.product article div.icons {
    width: 50px;
    padding: 0 5px; }
    #content.product article div.icons .icon.comment {
      cursor: pointer; }
  #content.product article div.comment {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 0;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms; }
  #content.product article .row.comment {
    height: 60px; }
    #content.product article .row.comment div.comment {
      height: 30px; }
  #content.product article div.price {
    text-align: right;
    font-weight: bold;
    width: 100px; }
  #content.product article div.price .icon.is-playset {
    display: none; }
  #content.product article div.price.playset .price, #content.product article div.price.playset .price-per-card {
    font-weight: bold;
    color: #0240ca;
    cursor: pointer; }
  #content.product article div.price.playset .icon.is-playset {
    display: inline-block; }
  #content.product article .count {
    display: inline-block;
    min-width: 20px;
    text-align: center; }
  #content.product article button {
    border: none;
    background: url("/img/cart.png") no-repeat center 3px transparent;
    height: 25px;
    width: 35px;
    padding: 0;
    vertical-align: middle;
    outline: none; }
  #content.product article .comment {
    text-align: center; }

#content.home header {
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 60px;
  background: url("/img/logo.jpg") no-repeat center center white;
  background-size: auto 50px;
  -webkit-background-size: auto 50px; }
#content.home article {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  box-shadow: inset 0px 0px 20rem 10rem #e3e7ee;
  background: #fdfdfd;
  padding-top: 65px;
  overflow: auto; }
  #content.home article span {
    display: inline-block;
    width: 0;
    height: 33%;
    vertical-align: middle; }
  #content.home article a {
    color: #444;
    text-align: center;
    width: 50%;
    display: inline-block;
    position: relative;
    padding-top: 80px;
    font-weight: bold;
    vertical-align: middle; }
    #content.home article a:hover {
      color: #012169; }
    #content.home article a:before {
      content: " ";
      display: inline-block;
      width: 70px;
      height: 70px;
      background: url("/img/menu.png") no-repeat;
      -webkit-background-size: 500%;
      background-size: 500%;
      vertical-align: top;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -35px; }
    #content.home article a.stock, #content.home article a.messages {
      width: 100%; }
    #content.home article a.stock:before {
      background-position: 0 0; }
    #content.home article a.stock:hover:before, #content.home article a.stock:active:before {
      background-position: 25% 0%; }
    #content.home article a.buys:before {
      background-position: 50% 0%; }
    #content.home article a.buys:hover:before, #content.home article a.buys:active:before {
      background-position: 75% 0%; }
    #content.home article a.sells:before {
      background-position: 100% 25%; }
    #content.home article a.sells:hover:before, #content.home article a.sells:active:before {
      background-position: 100% 0%; }
    #content.home article a.messages:before {
      background-position: 0% 75%; }
    #content.home article a.messages:hover:before, #content.home article a.messages:active:before {
      background-position: 25% 75%; }
#content.home footer .home {
  background-position: 0% 50%; }

body.de #content.home header {
  background-image: url("/img/logo_de.jpg"); }

#content.cart article i {
  display: block; }
#content.cart article .loading {
  text-align: center;
  padding-top: 50px;
  font-weight: bold; }
#content.cart article .empty {
  padding: 10px;
  font-weight: bold;
  text-align: center; }
#content.cart article a.address {
  position: relative;
  padding: 10px;
  color: #444;
  display: block; }
  #content.cart article a.address:after {
    content: url("/img/link.png");
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -11px; }
#content.cart article .orderid {
  padding: 10px 10px 0 10px; }
#content.cart article li.order {
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid #ccc;
  white-space: nowrap; }
  #content.cart article li.order:after {
    content: url("/img/link.png");
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -11px; }
  #content.cart article li.order button {
    background: url("/img/remove.png") center center no-repeat;
    border: none;
    vertical-align: middle;
    width: 10%;
    max-width: 40px;
    height: 40px; }
  #content.cart article li.order a {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 90%; }
  #content.cart article li.order a span {
    font-weight: normal; }
#content.cart article .total {
  text-align: center;
  padding: 10px;
  font-size: 18px; }
  #content.cart article .total i {
    font-size: 14px; }
#content.cart article .payments {
  padding: 10px;
  text-align: center; }
#content.cart article form.address {
  margin: 10px;
  text-align: center; }
  #content.cart article form.address label {
    display: inline-block;
    width: 50%;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    line-height: 30px; }
  #content.cart article form.address input {
    width: 50%;
    margin-left: -12px;
    vertical-align: middle;
    margin-bottom: 5px; }
  #content.cart article form.address select {
    width: 50%;
    margin-bottom: 5px; }
#content.cart article.checkout {
  text-align: center; }
  #content.cart article.checkout div {
    padding: 50px 30px 30px; }
#content.cart footer .cart {
  background-position: 25% 25%; }

#content.settings article li {
  padding: 10px;
  line-height: 30px;
  border-bottom: 1px solid #ccc; }
  #content.settings article li:last-child {
    border: none; }
#content.settings article label {
  display: inline-block;
  width: 150px; }
#content.settings article input.right {
  margin-top: 8px; }
#content.settings article .right {
  float: right;
  width: auto;
  margin-left: 5px; }
#content.settings article a {
  display: block;
  position: relative;
  line-height: 20px; }
  #content.settings article a:after {
    content: url("/img/link.png");
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px; }
#content.settings footer .settings {
  background-position: 50% 50%; }

#content.messages header .icons {
  background: white;
  border-radius: 3px;
  line-height: 10px;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px; }
#content.messages article .overview {
  margin-top: 50px; }
#content.messages article li span.time, #content.messages article li button {
  font-weight: bold;
  color: #012169;
  float: right;
  line-height: 24px;
  font-size: 12px; }
#content.messages article li button {
  margin-left: 5px;
  border: 0;
  background: url("/img/remove.png") no-repeat center center transparent;
  width: 16px;
  height: 22px; }
#content.messages article p {
  overflow: hidden;
  text-overflow: ellipsis; }
#content.messages article ul.thread {
  margin: 60px 10px 60px 10px; }
  #content.messages article ul.thread li {
    margin-bottom: 10px; }
    #content.messages article ul.thread li h3 {
      text-align: center;
      color: #9e9e9e;
      font-size: 12px; }
    #content.messages article ul.thread li div {
      background: #d1d7e4;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    #content.messages article ul.thread li .time {
      font-weight: normal;
      color: #9e9e9e;
      float: right;
      line-height: 16px;
      font-size: 12px;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5); }
    #content.messages article ul.thread li button {
      height: 16px; }
    #content.messages article ul.thread li p {
      margin: 0;
      white-space: pre-wrap; }
    #content.messages article ul.thread li.unread div {
      border-left: 5px solid #0240ca; }
    #content.messages article ul.thread li.sending div {
      background: #f5f5f5; }
#content.messages article form.subheadline {
  position: fixed;
  bottom: 58px;
  width: 100%;
  box-shadow: none;
  border-top: 1px solid #ccc;
  z-index: 1000;
  display: table; }
  #content.messages article form.subheadline div {
    padding: 0 10px;
    display: table-cell; }
  #content.messages article form.subheadline div.left {
    width: 100%; }
  #content.messages article form.subheadline textarea {
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    margin: 0px;
    max-height: 30px;
    width: 100%;
    max-width: 100%;
    margin-top: -5px; }
  #content.messages article form.subheadline button {
    height: 30px;
    line-height: 30px;
    border: none;
    background: none;
    vertical-align: middle; }
#content.messages article ul.overview p {
  margin: 0;
  clear: right;
  font-style: italic;
  color: #444; }
#content.messages article ul.overview li {
  border-bottom: 1px solid #ccc;
  padding: 10px 25px 10px 10px;
  position: relative; }
  #content.messages article ul.overview li.unread {
    border-left: 5px solid #0240ca; }
  #content.messages article ul.overview li.sending p:before {
    content: "↪ "; }
  #content.messages article ul.overview li a {
    display: block; }
  #content.messages article ul.overview li:after {
    content: url("/img/link.png");
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px; }
#content.messages article ul.overview li.user p {
  color: #0240ca;
  font-style: normal; }

#content.stock header.product {
  padding: 0 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 16px; }
  #content.stock header.product .box {
    background: white;
    border-radius: 3px;
    line-height: 10px;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px; }
#content.stock article {
  padding-top: 101px; }
  #content.stock article.product {
    padding-top: 60px; }
  #content.stock article .search button.minus, #content.stock article .search button.plus {
    width: 30px;
    vertical-align: middle; }
  #content.stock article .search button.minus {
    background: url("/img/remove.png") no-repeat center center transparent; }
  #content.stock article .search button.plus {
    background: url("/img/add.png") no-repeat center center transparent; }
  #content.stock article .empty {
    padding: 10px;
    text-align: center;
    font-weight: bold; }
  #content.stock article .articles {
    display: table;
    width: 100%; }
    #content.stock article .articles li {
      display: table-row;
      font-weight: bold;
      color: #012169; }
      #content.stock article .articles li .icon.card, #content.stock article .articles li .icon.comment {
        cursor: pointer; }
      #content.stock article .articles li > div {
        display: table-cell;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        vertical-align: middle; }
      #content.stock article .articles li div.controls {
        width: 40px;
        padding-left: 10px; }
        #content.stock article .articles li div.controls input {
          vertical-align: middle; }
      #content.stock article .articles li div.icons {
        text-align: center;
        white-space: nowrap; }
      #content.stock article .articles li div.price {
        text-align: right;
        padding-right: 10px; }
      #content.stock article .articles li div.card-image {
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
        margin-bottom: 50px;
        border: 1px solid #ccc;
        margin-top: 10px;
        padding: 10px;
        display: none;
        cursor: pointer; }
        #content.stock article .articles li div.card-image img {
          max-width: 100%; }
      #content.stock article .articles li.image div.card-image {
        display: block; }
      #content.stock article .articles li div.comment {
        position: absolute;
        right: 0;
        text-align: center;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 0;
        border: 0px solid #ccc;
        -webkit-transition: height 500ms;
        -moz-transition: height 500ms;
        -ms-transition: height 500ms;
        -o-transition: height 500ms;
        transition: height 500ms;
        background: rgba(255, 255, 255, 0.75);
        margin-top: 10px;
        line-height: 30px;
        cursor: pointer; }
      #content.stock article .articles li.comment div.comment {
        height: 30px;
        border: 1px solid #ccc; }
#content.stock article.product .loading {
  text-align: center;
  padding-top: 50px;
  font-weight: bold; }
#content.stock article.product form {
  padding: 10px;
  white-space: nowrap;
  text-align: center; }
  #content.stock article.product form label, #content.stock article.product form select, #content.stock article.product form input {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #content.stock article.product form input[type=checkbox] {
    width: auto; }
  #content.stock article.product form label {
    line-height: 30px;
    height: 30px; }
  #content.stock article.product form .icon {
    position: absolute;
    margin-left: -20px;
    margin-top: 9px; }
    #content.stock article.product form .icon.grading {
      margin-top: 7px; }
  #content.stock article.product form hr {
    margin: 0 -10px 5px; }

#content.search footer .search {
  background-position: 50% 75%; }

#content.legal article p, #content.legal article ul {
  margin: 10px; }
#content.legal article b {
  display: block;
  margin: 10px 0; }
#content.legal article ol li {
  list-style-type: decimal;
  padding: 5px 0; }

#content.contact article p {
  padding: 10px; }

#content.article article {
  margin-top: 45px; }

#content.buys article, #content.sells article {
  position: relative; }
  #content.buys article .tabs li, #content.sells article .tabs li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    cursor: pointer; }
    #content.buys article .tabs li.current, #content.sells article .tabs li.current {
      background: silver; }
  #content.buys article .evaluation b, #content.sells article .evaluation b {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px; }
#content.buys article.evaluation label, #content.sells article.evaluation label {
  display: block; }
#content.buys article.evaluation div.overlay, #content.sells article.evaluation div.overlay {
  position: absolute;
  top: 15px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  opacity: 1;
  transition: all linear 0.5s; }
  #content.buys article.evaluation div.overlay.ng-hide-add, #content.buys article.evaluation div.overlay.ng-hide-remove, #content.sells article.evaluation div.overlay.ng-hide-add, #content.sells article.evaluation div.overlay.ng-hide-remove {
    display: block !important; }
  #content.buys article.evaluation div.overlay.ng-hide, #content.sells article.evaluation div.overlay.ng-hide {
    opacity: 0; }
