// General styling
a {
  text-decoration: none;
}
ul,li {
  list-style-type: none;
  padding: 0;
  margin:0;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: -1px;
  padding-top: 1px;
  background: #eee;
  z-index: 1000;
  max-height: 100%;
  overflow: auto;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

article {
  margin-bottom: 35px;
  margin-top: 35px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  background: white;
  z-index: 1000;
  height: 35px;
  line-height: 35px;
  text-align: center;
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    vertical-align: top;
  }
}

.loading {
  position: relative;
  background: red;
  &:before {
    content: "LOADING";
    position: absolute;
    color: red;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  background-repeat: no-repeat;
}

// Transition between screens
#container {
  position: relative;
  #content {
    &.ng-enter, &.ng-leave {
      -webkit-transition: 0.5s linear all;-moz-transition: 0.5s linear all;-ms-transition: 0.5s linear all;-o-transition: 0.5s linear all;transition: 0.5s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
    }
    &.ng-enter { opacity:0; }
    &.ng-enter.ng-enter-active { opacity:1; }
    &.ng-leave { opacity:1; }
    &.ng-leave.ng-leave-active { opacity:0; }
  }
}

// Product Slider
aside.slider {
  -webkit-transition: 0.5s linear all;-moz-transition: 0.5s linear all;-ms-transition: 0.5s linear all;-o-transition: 0.5s linear all;transition: 0.5s linear all;
  position: fixed;
  bottom: 100%;
  margin-bottom: -45px;
  padding-bottom: 10px;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &.open { bottom: 80px; }
  .content {
    padding-top: 80px;
    img { vertical-align: middle; }
    span { display: block; }
  }
  .toggle {
    height: 10px;
    width: 100%;
    background: grey;
    cursor: s-resize;
    position: absolute;
    bottom: 0;
  }
  &.open .toggle { cursor: n-resize; }
}

// Order directive
mkm-order {
  div.icons { display: inline-block; }
  i { display: block; }
}

/***********************/
// Styling per Screen
/***********************/
#content.login {
  article {
    // login form
    position: fixed;
    img.logo { width: 200px; }
    input, button { display: block; }
  }
  .input {
    @extend header;
    button {
      height: 24px;
      line-height: 21px;
    }
  }
  .results {
    // search results
    position: absolute;
    top: 35px;
    background-color: rgba(255,255,255,0.75);
    width: 100%;
    z-index: 10;
  }
  footer .login { background: green; }
}

// product page
#content.product {
  .icon.comment { cursor:pointer; }
  article {
    margin-top: 45px;
    .icon.ng-hide { display: inline-block !important; visibility: hidden; }
    .seller, .icons, .price {
      display: inline-block;
      width: 33%;
      height: 30px;
      vertical-align: middle;
      line-height: 30px;
    }
    .icons { text-align: center; }
    .price { text-align: right; }
    .count { display: inline-block; min-width: 30px; text-align: center; }
    button {
      border: none;
      background: gray;
      color: white;
      font-weight: bold;
      height: 25px;
      width: 25px;
      padding: 0;
      vertical-align: middle;
      line-height: 25px;
      border-radius: 12px;
      outline: none;
    }
    .seller button:before { content: "+"; }
    .seller button.open:before { content: "-"; }
    .price button { background-image:url("/img/cart.png"); background-repeat:no-repeat; background-position:4px 4px; }
    .comment { text-align: center; }
  }
}

// home page
#content.home {
  header img {
    height: 35px;
  }
  footer .home { background: green; }
}

// search page
#content.search {
  footer .search { background: green; }
}

// settings page
#content.settings {
  footer .settings { background: green; }
}

// cart page
#content.cart {
  article {
    .icons { display: inline-block; }
    i { display: block; }
  }
  footer .cart { background: green; }
}

// stock page
#content.stock {
  article {
    .product, .icons, .price {
      display: inline-block;
      width: 33%;
    }
    .price { text-align: right; }
    .icons { text-align: center; }
  }
}

// article page
#content.article {
  article {
    margin-top: 45px;
  }
}

// order page
#content.orders {
  article {
    .tabs li {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
      &.current { background: silver; }
    }
  }
}