body, html {
  height: 100%; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

header, #content.login .input {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: -1px;
  padding-top: 1px;
  background: #eee;
  z-index: 1000;
  max-height: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center; }

article {
  margin-bottom: 55px;
  margin-top: 35px; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  background: white;
  z-index: 1000;
  height: 55px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 25px; }
  footer a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("/img/menu.png") no-repeat;
    -webkit-background-size: 500%;
    background-size: 500%;
    vertical-align: top;
    text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
    color: white;
    margin: 0 5px; }
    footer a.home {
      background-position: 25% 50%;
      line-height: 44px; }
    footer a.home:hover {
      background-position: 0% 50%; }
    footer a.login {
      background-position: 50% 25%; }
    footer a.login:hover {
      background-position: 75% 25%; }
    footer a.search {
      background-position: 75% 75%; }
    footer a.search:hover {
      background-position: 50% 75%; }
    footer a.cart {
      background-position: 0% 25%;
      text-indent: 6px; }
    footer a.cart:hover {
      background-position: 25% 25%; }
    footer a.settings {
      background-position: 75% 50%; }
    footer a.settings:hover {
      background-position: 50% 50%; }

.loading {
  background: url("/img/loading.gif") no-repeat center center; }

ul.loading {
  background-position: center bottom;
  padding-bottom: 20px;
  margin-bottom: 4px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat; }

#container {
  position: relative;
  height: 100%; }
  #container #content {
    height: 100%; }
    #container #content.ng-enter, #container #content.ng-leave {
      -webkit-transition: 0.5s linear all;
      -moz-transition: 0.5s linear all;
      -ms-transition: 0.5s linear all;
      -o-transition: 0.5s linear all;
      transition: 0.5s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white; }
    #container #content.ng-enter {
      opacity: 0; }
    #container #content.ng-enter.ng-enter-active {
      opacity: 1; }
    #container #content.ng-leave {
      opacity: 1; }
    #container #content.ng-leave.ng-leave-active {
      opacity: 0; }

aside.slider {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: fixed;
  bottom: 100%;
  margin-bottom: -45px;
  padding-bottom: 10px;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  aside.slider.open {
    bottom: 100px; }
  aside.slider .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 80px;
    height: 100%;
    white-space: nowrap; }
    aside.slider .content .aligner {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0; }
    aside.slider .content img {
      vertical-align: middle; }
    aside.slider .content .data {
      display: inline-block;
      vertical-align: middle;
      white-space: normal; }
    aside.slider .content .reprints {
      margin-top: 10px; }
  aside.slider .toggle {
    height: 10px;
    width: 100%;
    background: grey;
    cursor: s-resize;
    position: absolute;
    bottom: 0; }
  aside.slider.open .toggle {
    cursor: n-resize; }

mkm-order div.icons, mkm-order div.price, mkm-order div.card {
  display: inline-block;
  width: 33%; }
mkm-order div.icons {
  text-align: center; }
mkm-order div.price {
  text-align: right; }
mkm-order i {
  display: block; }

/***********************/
/***********************/
#content.login article {
  position: fixed;
  width: 100%; }
  #content.login article iframe {
    width: 100%;
    height: 360px;
    border: none; }
  #content.login article img.logo {
    width: 200px; }
  #content.login article input, #content.login article button {
    display: block; }
#content.login .input button {
  height: 24px;
  line-height: 21px; }
#content.login .results {
  position: absolute;
  top: 35px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  z-index: 10;
  min-height: 100px; }
#content.login footer .login {
  background-position: 75% 25%; }

#content.product .icon.comment {
  cursor: pointer; }
#content.product article {
  margin-top: 45px; }
  #content.product article .seller, #content.product article .icons, #content.product article .price {
    display: inline-block;
    width: 33%;
    height: 30px;
    vertical-align: middle;
    line-height: 30px; }
  #content.product article .icons {
    text-align: center; }
    #content.product article .icons .icon.ng-hide {
      display: inline-block !important;
      visibility: hidden; }
  #content.product article .price {
    text-align: right; }
  #content.product article .count {
    display: inline-block;
    min-width: 30px;
    text-align: center; }
  #content.product article button {
    border: none;
    background: gray;
    color: white;
    font-weight: bold;
    height: 25px;
    width: 25px;
    padding: 0;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 12px;
    outline: none; }
  #content.product article .seller button:before {
    content: "+"; }
  #content.product article .seller button.open:before {
    content: "-"; }
  #content.product article .price button {
    background-image: url("/img/cart.png");
    background-repeat: no-repeat;
    background-position: 4px 4px; }
  #content.product article .comment {
    text-align: center; }

#content.home header img, #content.home #content.login .input img, #content.login #content.home .input img {
  height: 35px; }
#content.home article {
  margin: 0;
  padding-bottom: 55px;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }
  #content.home article span {
    display: inline-block;
    width: 0;
    height: 33%;
    vertical-align: middle; }
  #content.home article a {
    color: #444;
    text-align: center;
    width: 50%;
    display: inline-block;
    position: relative;
    padding-top: 90px;
    font-weight: bold;
    vertical-align: middle; }
    #content.home article a:hover {
      color: #012169; }
    #content.home article a:before {
      content: " ";
      display: inline-block;
      width: 80px;
      height: 80px;
      background: url("/img/menu.png") no-repeat;
      -webkit-background-size: 500%;
      background-size: 500%;
      vertical-align: top;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px; }
    #content.home article a.stock {
      width: 100%; }
    #content.home article a.stock:before {
      background-position: 0 0; }
    #content.home article a.stock:hover:before {
      background-position: 25% 0%; }
    #content.home article a.buys:before {
      background-position: 50% 0%; }
    #content.home article a.buys:hover:before {
      background-position: 75% 0%; }
    #content.home article a.sells:before {
      background-position: 100% 25%; }
    #content.home article a.sells:hover:before {
      background-position: 100% 0%; }
    #content.home article a.messages {
      width: 100%; }
    #content.home article a.messages:before {
      background-position: 0% 75%; }
    #content.home article a.messages:hover:before {
      background-position: 25% 75%; }
#content.home footer .home {
  background-position: 0% 50%; }

#content.search footer .search {
  background-position: 50% 75%; }

#content.settings footer .settings {
  background-position: 50% 50%; }

#content.cart article i {
  display: block; }
#content.cart footer .cart {
  background-position: 25% 25%; }

#content.stock article.product {
  margin-top: 45px; }
#content.stock article .product, #content.stock article .icons, #content.stock article .price {
  display: inline-block;
  width: 33%; }
#content.stock article .price {
  text-align: right; }
#content.stock article .icons {
  text-align: center; }

#content.article article {
  margin-top: 45px; }

#content.buys article, #content.sells article {
  position: relative; }
  #content.buys article .tabs li, #content.sells article .tabs li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    cursor: pointer; }
    #content.buys article .tabs li.current, #content.sells article .tabs li.current {
      background: silver; }
  #content.buys article .evaluation b, #content.sells article .evaluation b {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px; }
#content.buys article.evaluation label, #content.sells article.evaluation label {
  display: block; }
#content.buys article.evaluation div.overlay, #content.sells article.evaluation div.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  opacity: 1;
  transition: all linear 0.5s; }
  #content.buys article.evaluation div.overlay.ng-hide-add, #content.buys article.evaluation div.overlay.ng-hide-remove, #content.sells article.evaluation div.overlay.ng-hide-add, #content.sells article.evaluation div.overlay.ng-hide-remove {
    display: block !important; }
  #content.buys article.evaluation div.overlay.ng-hide, #content.sells article.evaluation div.overlay.ng-hide {
    opacity: 0; }

#content.messages article ul.thread li {
  text-align: left; }
  #content.messages article ul.thread li.unread {
    background: #c9d1ff; }
#content.messages article ul.thread li span {
  float: right; }
#content.messages article ul.thread li.receiving span {
  float: left; }
#content.messages article ul.thread li.receiving {
  text-align: right; }
#content.messages article ul.overview h3 {
  margin: 0; }
#content.messages article ul.overview span {
  float: right; }
#content.messages article ul.overview p {
  margin: 0;
  max-height: 40px;
  overflow: hidden; }
#content.messages article ul.overview li {
  border-bottom: 1px solid black; }
  #content.messages article ul.overview li.unread {
    background: #c9d1ff; }
