<header>
  <input ng-model="query" ng-change="search()" id="search">
  <button ng-show="query" ng-click="query = null">X</button>
</header>
<aside class="results" ng-show="query">
  {{data.count}} Results
  <select ng-model="sort" ng-show="data.count > 0">
    <option value="name">Alphabetical</option>
    <option value="expansion">Expansion</option>
    <option value="rarity">Rarity</option>
  </select>
  <ul ng-class="{loading:data.loading}" data-infinite-scroll="loadResults()">
    <li ng-repeat="product in data.products | orderBy:sort">
      <a href="/product/{{product.idProduct}}" ng-click="updateHistory()">
        <span class="icon expansion expansion-{{product.expansion | expansionIcon}}"></span>
        <span class="icon rarity rarity-{{product.rarity}}" ng-show="product.rarity"></span>
        {{product.name[0].productName}}
      </a>
    </li>
  </ul>
</aside>
<article>
  <form>
    <img src="/img/logo.jpg" alt="Logo" class="logo"/><br>
    <div ng-hide="loggedIn">
      <iframe src="" ng-src="{{iframeSrc}}" ng-show="iframeSrc"></iframe>
      <button ng-hide="iframeSrc || login.success" ng-click="login()">Log In</button>
      <div ng-show="login.error">Error retrieving access, please retry</div>
      <div ng-show="login.success">Logged in successfully!</div>
    </div>
    <div ng-show="loggedIn">
      <button ng-click="logout()">Logout</button>
    </div>
  </form>
</article>
