<header>
  {{productData.product.name[0].productName}}
  {{productData.product.number}}
  <span class="icon expansion expansion-{{productData.product.expansion | expansionIcon}}"></span>
  <span ng-show="productData.product.rarity" class="icon rarity rarity-{{productData.product.rarity}}"></span>
</header>
<aside class="slider" ng-class="!!slider && 'open'">
  <div class="content">
    <img src="" ng-src="{{productData.product.image | productImage}}">
    <div class="tendency">Price Tendency: {{productData.product.tendency}}</div>
    <span>Available Items: {{data.count}}</span>
    <span>From (EX+): {{productData.product.priceGuide.LOW | currency:"€"}}</span>
    <span>Average price (EX+): {{productData.product.priceGuide.AVG | currency:"€"}}</span>
    <span ng-show="productData.product.foils">Available foils: {{productData.product.foils}}</span>
    <span ng-show="productData.product.foils">Foils from: {{productData.product.priceGuide.FOIL | currency:"€"}}</span>
  </div>
  <div class="toggle" ng-click="slider=!slider"></div>
</aside>
<article>
  <span ng-show="!data.loading && !data.count">No Offers :(</span>
  <ul ng-class="{loading:data.loading}" data-infinite-scroll="loadArticles()">
    <li ng-repeat="article in data.articles" ng-hide="!article.count">
      <div class="seller">
        <button ng-click="article.showSeller = !article.showSeller" ng-class="!!article.showSeller && 'open'"></button>
        <span class="icon country country-{{article.seller.country}}"></span>
        {{article.seller.username}}
      </div>
      <div class="icons">
        <span class="icon language language-{{article.language.idLanguage}}" ng-show="article.language.idLanguage"></span>
        <span class="icon grading grading-{{article.condition}}" ng-show="article.condition"></span>
        <span class="icon is-foil" ng-show="article.isFoil"></span>
        <span class="icon is-signed" ng-show="article.isSigned"></span>
        <span class="icon is-playset" ng-show="article.isPlayset"></span>
        <span class="icon is-altered" ng-show="article.isAltered"></span>
        <span class="icon comment" ng-show="article.comments" ng-click="article.showComment = !article.showComment"></span>
      </div>
      <div class="price">
        {{article.price | currency:"€"}}
        <span class="price-per-card" ng-show="article.isPlayset">({{article.price / 4 | currency:"€"}})</span>
        <span class="count">{{article.count}}</span>
        <button ng-click="addToCart(article)"></button>
      </div>
      <div class="comment" ng-hide="!article.showComment">{{article.comments}}</div>
      <div class="seller" ng-hide="!article.showSeller">
        (123)
        <span class="icon country country-{{article.seller.country}}"></span>
        <span class="icon reputation reputation-{{article.seller.reputation}}"></span>
        <span class="icon is-commercial" ng-show="article.seller.isCommercial"></span>
        {{article.seller.speed}}
      </div>
    </li>
  </ul>
</article>