<header>
  {{data.product.product.name[0].productName}}
  {{data.product.product.number}}
  <span class="icon expansion expansion-{{data.product.product.expansion | expansionIcon}}"></span>
  <span ng-show="data.product.product.rarity" class="icon rarity rarity-{{data.product.product.rarity}}"></span>
</header>
<mkm-product product-data="data.product"></mkm-product>
<article>
  <div class="loading" ng-show="data.loading">Loading...</div>
  <div class="error" ng-show="data.error">Article not found!</div>
  <form ng-show="data.article">
    <label for="language">Language</label>
    <select id="language" ng-options="id as language for (id,language) in languages" ng-model="data.article.language.idLanguage"></select>
    <hr>
    <label for="condition">Condition</label>
    <select id="condition" ng-options="condition for condition in conditions" ng-model="data.article.condition"></select>
    <hr>
    <input type="checkbox" ng-model="data.article.isFoil" id="isFoil">
    <label for="isFoil">Foil?</label><br>
    <input type="checkbox" ng-model="data.article.isSigned" id="isSigned">
    <label for="isSigned">Signed?</label><br>
    <input type="checkbox" ng-model="data.article.isPlayset" id="isPlayset">
    <label for="isPlayset">Playset?</label><br>
    <input type="checkbox" ng-model="data.article.isAltered" id="isAltered">
    <label for="isAltered">Altered?</label>
    <hr>
    <input type="text" ng-model="data.article.comments" placeholder="Comment"><br>
    <label for="count">Amount</label>
    <input id="count" type="number" step="1" min="0" ng-model="data.article.count"><br>
    <label for="price">Price</label>
    <input id="price" type="number" step="0.01" min="0.01" ng-model="data.article.price"><br>
    <button ng-click="save()">Save Changes</button>
  </form>
</article>
<mkm-footer></mkm-footer>