<header>
  Shopping Cart
</header>
<article>
  <mkm-search ng-hide="data.cart.length || data.loading">
    You have no items on your shopping cart, if you want to search for articles, please use the search field above.
  </mkm-search>
  <div class="overview" ng-show="data.cart.length">
    <div class="shipping">
      <a href="/cart/address">
        Shipping Address:<br>
        {{data.address.name}}<br>
        <span ng-show="data.address.street"> {{data.address.street}}, </span>
        <span ng-show="data.address.extra">  {{data.address.extra}},  </span>
        <span ng-show="data.address.zip">    {{data.address.zip}}     </span>
        <span ng-show="data.address.city">   {{data.address.city}},   </span>
        <span class="icon country country-{{data.address.country}}"></span>
      </a>
    </div>
    <hr>
    <div class="single" ng-show="data.cart.length == 1">
      Order Nr.: {{data.cart[0].idReservation}}<br>
      <mkm-order order="data.cart[0]" remove-article="removeArticle" shipping-method="shippingMethod"></mkm-order>
    </div>
    <div class="multiple" ng-show="data.cart.length > 1">
      <div class="overview">{{data.cart.length}} orders ({{count}} articles) to buy now</div>
      <ul>
        <li ng-repeat="order in data.cart">
          <button ng-click="removeOrder(order)">-</button>
          <a href="/cart/{{order.idReservation}}">
            Order Nr.: {{order.idReservation}}<br>
            Seller: {{order.seller.username}}<br>
            <ng-pluralize count="order.articleCount" when="{0:'No articles',one:'1 article',other:'{} articles'}"></ng-pluralize>
            for {{order.articleValue | currency:"€"}}<br>
            Shipping: {{order.shippingMethod.price | currency:"€"}}
          </a>
        </li>
      </ul>
      <div class="total">
        Total - {{sum | currency:"€"}}
        <i>Items + Shipping Methods</i>
      </div>
    </div>
    <div class="overview">Account balance: {{data.balance | currency:"€"}}</div>
    <div ng-show="data.balance < sum">
      <a href="/cart/checkout/bank">Bank Transfer</a>
      <a href="/cart/checkout/paypal">Paypal</a>
    </div>
    <div ng-show="data.balance >= sum">
      <a href="/cart/checkout/instabuy">Instabuy</a>
    </div>
  </div>
  <div class="loading" ng-show="data.loading">Loading cart...</div>
</article>
<mkm-footer cart="count"></mkm-footer>