<header>Help & About</header>
<article>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, deserunt doloribus ea harum in ipsa ipsum molestias officiis omnis, pariatur possimus provident quisquam sequi similique tempora temporibus vero voluptatem?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi beatae enim molestias, non quasi sint tempore veritatis. A alias corporis dolorum esse facilis iusto maxime possimus quasi reprehenderit, tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consectetur culpa dolores eius enim, harum impedit ipsum nemo quia sit ut vero. Accusamus architecto dignissimos eveniet facilis nam non reprehenderit?</p>
</article>
<mkm-footer></mkm-footer>