<header>{{data.partner.username}}</header>
<article>
  <div class="search" ng-show="data.messages">
    <label for="search"></label>
    <input id="search" type="text" ng-model="search" placeholder="Search">
  </div>
  <ul class="thread" ng-class="{loading:data.loading}">
    <li ng-repeat="message in data.messages | filter:search" ng-class="{sending: message.isSending, unread: message.unread}">
      <h3 ng-show="!$index || message.date.toDateString() != data.messages[$index - 1].date.toDateString()">{{message.date | date:'fullDate'}}</h3>
      <div>
        <button ng-click="delete($index,data.partner.idUser,message.idMessage)">&ndash;</button>
        <span class="time">{{message.date | date:'shortTime'}}</span>
        <p>{{message.text}}</p>
      </div>
    </li>
  </ul>
  <form ng-submit="send()">
    <textarea placeholder="Message" required ng-model="message"></textarea>
    <button>Send</button>
  </form>
</article>
<mkm-footer messages="unreadCount"></mkm-footer>