<header>
  <span ng-show="mode == 'buys'">My Buys</span>
  <span ng-show="mode == 'sells'">My Sells</span>
</header>
<article>
  Orders
  <ul class="tabs"><!-- no spaces between elements
    --><li ng-class="{current:tab=='bought'}" ng-click="tab = 'bought'">Unpaid</li><!--
    --><li ng-class="{current:tab=='paid'}" ng-click="tab = 'paid'">Paid</li><!--
    --><li ng-class="{current:tab=='sent'}" ng-click="tab = 'sent'">Sent</li><!--
    --><li ng-class="{current:tab=='received'}" ng-click="tab = 'received'">Received</li><!--
  --></ul>
  <div class="orders">
    <ng-pluralize ng-hide="data.loading" count="data.count" when="{0:'No shipments',one:'1 shipment',other:'{} shipments'}"></ng-pluralize>
    <ul ng-class="{loading:data.loading}" data-infinite-scroll="loadOrders()">
      <li ng-repeat="order in data.orders">
        <a href="/{{mode}}/{{order.idOrder}}">
          <div ng-show="mode == 'buys'">
            <b>Seller: {{order.seller.username}}</b><br>
            Last name: {{order.seller.name.lastName}}
          </div>
          <div ng-show="mode == 'sells'">
            <b>Buyer: {{order.buyer.username}}</b><br>
            Last name: {{order.buyer.name.lastName}}
          </div>
          <span ng-show="order.state.dateBought">Purchased: {{order.state.dateBought | date:'short'}}<br></span>
          <span ng-show="order.state.datePaid">Paid: {{order.state.datePaid | date:'short'}}<br></span>
          <span ng-show="order.state.dateSent">Sent: {{order.state.dateSent | date:'short'}}<br></span>
          <span ng-show="order.state.dateReceived">Received: {{order.state.dateReceived | date:'short'}}<br></span>
        </a>
      </li>
    </ul>
  </div>
</article>
<mkm-footer></mkm-footer>