<header>
  Order Nr.: {{data.order.idOrder || data.order.idReservation}}
</header>
<article>
  <div class="error" ng-show="data.error">Error loading order</div>
  <div class="loading" ng-show="data.loading">Loading order...</div>
  <mkm-order ng-hide="data.loading || data.error" remove-article="removeArticle" shipping-method="shippingMethod" order="data.order"></mkm-order>
  <form ng-show="data.order.state && !data.loading && !data.error">
    <span ng-show="data.order.state.dateBought">Purchased: {{data.order.state.dateBought | date:'short'}}<br></span>
    <span ng-show="data.order.state.datePaid">Paid: {{data.order.state.datePaid | date:'short'}}<br></span>
    <span ng-show="data.order.state.dateSent">Sent: {{data.order.state.dateSent | date:'short'}}<br></span>
    <span ng-show="data.order.state.dateReceived">Received: {{data.order.state.dateReceived | date:'short'}}<br></span>
    Status: {{data.order.state.state}}
    <div ng-show="data.order.showReason"><textarea ng-model="data.order.state.reason"></textarea></div>
    <div ng-show="data.order.state.state == 'sent'  && data.order.actor == 'buyer'"><button ng-click="update('confirmReception')">Confirm Reception</button></div>
    <div ng-show="data.order.state.state == 'bought'"><button ng-click="update('requestCancellation')">Request Cancellation</button></div>
    <div ng-show="data.order.state.state == 'paid' && data.order.actor == 'seller'"><button ng-click="update('send')">Mark as sent</button></div>
    <div ng-show="data.order.state.state == 'paid'"><button ng-click="update('requestCancellation')">Request Cancellation</button></div>
    <div ng-show="data.order.state.state == 'received' && data.order.actor == 'buyer' && !data.order.evaluation"><a href="/buys/{{data.order.idOrder}}/evaluate">Evaluate order</a></div>
    <div class="evaluation" ng-show="data.order.evaluation">
      <hr>
      Evaluation:<br>
      <b>Overall</b> <span class="icon evaluation" ng-class="'evaluation-'+data.order.evaluation.evaluationGrade"></span><br>
      <span ng-show="data.order.evaluation.comment">
        <b>Comment</b> {{data.order.evaluation.comment}}<br>
      </span>
      <b>Item Description</b> <span class="icon evaluation" ng-class="'evaluation-'+data.order.evaluation.itemDescription"></span><br>
      <b>Packaging</b> <span class="icon evaluation" ng-class="'evaluation-'+data.order.evaluation.packaging"></span><br>
      <b>Speed</b> <span class="icon evaluation" ng-class="'evaluation-'+data.order.evaluation.speed"></span><br>
      <div ng-show="data.order.evaluation.complaint">
        <b>Complaints</b>
        <span ng-repeat="complaint in data.order.evaluation.complaint">
          {{complaint | findInMap:complaints}}{{$last ? '' : ', '}}
        </span>
      </div>
    </div>
  </form>
</article>
<mkm-footer cart="count"></mkm-footer>