<header translate="titles.settings">Settings</header>
<article>
  <ul>
    <li>
      <input type="checkbox" class="right" id="vacation" ng-change="updateVacation()" ng-model="data.account.onVacation">
      <label for="vacation" class="right" ng-show="data.account.onVacation" translate="settings.on">On</label>
      <label for="vacation" class="right" ng-hide="data.account.onVacation" translate="settings.off">Off</label>
      <label for="vacation" translate="settings.vacation">MKM Vacation Status</label>
    </li>
    <li>
      <select class="right" id="languages"
              ng-options="language as 'common.languages.'+language | translate for language in languages"
              ng-model="data.account.idDisplayLanguage" ng-change="updateLanguage()"></select>
      <label for="languages" translate="common.language">Language</label>
    </li>
    <li class="link"><a href="/help" translate="titles.help">Help & About</a></li>
    <li class="link"><a href="/contact" translate="titles.contact">Contact Us</a></li>
    <li class="link"><a href="/legal" translate="titles.legal">Legal</a></li>
    <li><button class="button" ng-click="logout()" translate="common.logout">Logout</button></li>
  </ul>
</article>
<mkm-footer></mkm-footer>