// Product Details
mkm-product {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 10;
  img {
    margin-bottom: 10px;
  }
  h2 {
    margin: 0 0 10px;
    .icon { margin-top: -2px; }
  }
  table {
    text-align: left;
    width: 100%;
    td:first-child {
      white-space: nowrap;
      vertical-align: top;
    }
    a {
      display: inline-block;
      padding: 3px;
    }
    td:last-child {
      text-align: right;
      font-weight: bold;
      color: $mkm-blue;
    }
    .icon { margin: 0 2px; }
  }
}
