// Footer Styling
footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1px;
  padding-bottom: 1px;
  z-index: 500;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-top: 1px solid #cccccc;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
  background: #fbfbfb;
  background: linear-gradient(to bottom,  #fbfbfb 0%,#eaeaea 33%,#eaeaea 100%);
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("/img/menu.png") no-repeat;
    background-size: 500%;
    vertical-align: middle;
    margin: 0 5%;
    position: relative;
    span {
      background: #e3494e;
      border-radius: 2px;
      height: 18px;
      text-align: center;
      display: inline-block;
      color: white;
      padding: 0 5px;
      line-height: 18px;
      position: absolute;
      right: -9px;
      top: -3px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    &.home { background-position: 25% 50%; }
    &.home:hover,&.home:active { background-position: 0% 50%; }
    &.login { background-position: 50% 25%; }
    &.login:hover,&.login:active { background-position: 75% 25%; }
    &.search { background-position: 75% 75%; }
    &.search:hover,&.search:active { background-position: 50% 75%; }
    &.cart { background-position: 0% 25%; }
    &.cart:hover,&.cart:active { background-position: 25% 25%; }
    &.settings { background-position: 75% 50%; }
    &.settings:hover,&.settings:active { background-position: 50% 50%; }
  }
}
