// Order directive
mkm-order {
  .seller, .buyer {
    padding: 10px;
  }
  .articles {
    width: 100%;
    li {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $mkm-blue;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      &:nth-child(even) { background: #fafafa; }
    }
    li > div {
      padding-right: 5px;
    }
    div.card {
      flex-grow: 1;
      small {
        display: block;
        font-weight: normal;
        font-style: italic;
        color: #444;
      }
    }
    div.controls { width: 20px; }
    div.icons { text-align: center; white-space: nowrap; }
    div.price { text-align: right; padding-right: 0; }
    i { display: block; }
    button.remove {
      border: none;
      vertical-align: middle;
      width: 20px;
      height: 20px;
    }
  }
  .shipping {
    padding: 10px;
    text-align: center;
    select { max-width: 90%; }
  }
  .total {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    i {
      font-size: 14px;
      display: block;
    }
  }
}
