// Order directive
mkm-order {
  .seller, .buyer {
    padding: 10px;
  }
  .articles {
    width: 100%;
    li {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $mkmBlue;
      border-bottom: 1px solid #ccc;
      &:nth-child(even) { background: #fafafa; }
    }
    li > div {
      padding: 10px 5px;
    }
    div.card {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      small { display: block; }
    }
    div.controls { width: 20px; }
    div.icons { text-align: center; white-space: nowrap; }
    div.price { text-align: right; }
    i { display: block; }
    button.remove {
      border: none;
      vertical-align: middle;
      width: 20px;
      height: 20px;
    }
  }
  .shipping {
    padding: 10px;
    text-align: center;
    select { max-width: 90%; }
  }
  .total {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    i {
      font-size: 14px;
      display: block;
    }
  }
}
