@font-face {
  font-family: 'mkmfont';
  src:url('../fonts/mkmfont.eot?x3wrem');
  src:url('../fonts/mkmfont.eot?x3wrem#iefix') format('embedded-opentype'),
  url('../fonts/mkmfont.ttf?x3wrem') format('truetype'),
  url('../fonts/mkmfont.woff?x3wrem') format('woff'),
  url('../fonts/mkmfont.svg?x3wrem#mkmfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mkmicon:before {
  font-family: 'mkmfont', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #012169;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkmicon.ctrl:before {
  content: "\e900";
}
.mkmicon.ctrl2:before {
  content: "\e901";
}
.mkmicon.wants:before {
  content: "\e902";
}
.mkmicon.becomeseller:before {
  content: "\e903";
}
.mkmicon.sellcards:before {
  content: "\e904";
}
.mkmicon.profile:before {
  content: "\e905";
}
.mkmicon.purchases:before {
  content: "\e906";
}
.mkmicon.sales:before {
  content: "\e907";
}
.mkmicon.offers:before {
  content: "\e908";
}
.mkmicon.cart:before {
  content: "\e909";
}
.mkmicon.logout:before {
  content: "\e90a";
}
.mkmicon.home:before {
  content: "\e90b";
}
.mkmicon.display:before {
  content: "\e90c";
}
.mkmicon.mobile2:before {
  content: "\e90d";
}
.mkmicon.messages:before {
  content: "\e90e";
}
.mkmicon.search:before {
  content: "\e90f";
}
.mkmicon.menu:before {
  content: "\e910";
}
.mkmicon.info:before {
  content: "\e911";
}
.mkmicon.cancel-circle:before {
  content: "\e912";
}
.mkmicon.cross:before {
  content: "\e913";
}
.mkmicon.radio-checked:before {
  content: "\e914";
}
.mkmicon.radio-unchecked:before {
  content: "\e915";
}
.mkmicon.filter:before {
  content: "\e916";
}

