// stock page
body.stock {
  #content header.product {
    padding: 0 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 16px;
    span { margin: 0 2px; }
  }

  article {
    .search {
      &.open:before {
        left: 77px;
      }
      button.remove, button.add {
        width: 30px;
        height: 30px;
        vertical-align: middle;
      }
    }
    .empty { padding: 10px; text-align: center; font-weight: bold; }
    .articles {
      margin-top: 40px;
      li {
        display: flex;
        width: 100%;
        font-weight: bold;
        color: $mkmBlue;
        border-bottom: 1px solid #ccc;
        align-items: center;
        padding: 8px 0;
        &:nth-child(even) { background: #fafafa; }
        .icon.card, .icon.comment { cursor: pointer; }
        div.controls {
          width: 40px;
          padding-left: 10px;
          flex-shrink: 0;
        }
        div.card {
          flex-grow: 1;
          padding-left: 5px;
          small {
            display: block;
            font-weight: normal;
            font-style: italic;
            color: #444;
          }
        }
        div.icons {
          flex-shrink: 0;
          padding: 0 5px;
        }
        div.price { text-align: right; padding-right: 10px; }
        div.card-image {
          position: absolute;
          text-align: center;
          right: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.75);
          margin-bottom: 50px;
          border-bottom: 1px solid #ccc;
          margin-top: 9px;
          padding: 10px;
          display: none;
          cursor: pointer;
          img { max-width: 100%; }
        }
        &.image div.card-image { display: block; }
        div.comment {
          position: absolute;
          right: 0;
          text-align: center;
          left: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 0;
          border-bottom: 0 solid #ccc;
          transition: height 500ms;
          background: rgba(255,255,255,0.75);
          margin-top: 9px;
          line-height: 30px;
          cursor: pointer;
        }
        &.comment div.comment { height: 30px; border: 1px solid #ccc; }
      }
    }
  }
  // editing a single article
  article.product {
    form {
      padding: 10px;
      white-space: nowrap;
      text-align: center;
      label, select, input {
        display: inline-block;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        text-align: left;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      input[type=checkbox] { width: auto; }
      label {
        line-height: 30px;
        height: 30px;
      }
      .icon {
        position: absolute;
        margin-left: -20px;
        margin-top: 9px;
        &.grading { margin-top: 7px; }
      }
      hr { margin: 0 -10px 5px; }
    }
  }
}
