// product page
body.product {
  #content header {
    padding-right: 60px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: normal;
  }
  &.loggedin #content header { padding-right: 80px; }

  /* Articles */
  article {
    .icon.commercial-0 { display: none; }
    .notification {
      text-align: center;
      color: $mkm-blue;
      margin: 10px 0;
    }
    li {
      padding: 4px 10px;
      border-bottom: 1px solid #ccc;
      line-height: 20px;
      &:nth-child(even) { background: rgb(240, 240, 240); }
      .icon { margin: -2px 5px 0 0; }
      .article {
        display: flex;
        align-items: center;
        font-weight: bold;
        width: 100%;
      }
      .price {
        flex-grow: 1;
        text-align: right;
      }
      .count {
        margin: 0 5px;
        min-width: 30px;
        text-align: center;
      }
      .comment {
        font-style: italic;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        border: none;
        height: 20px;
        width: 35px;
        padding: 0;
        vertical-align: middle;
        outline: none;
      }
      .sell {
        line-height: 18px;
        float: right;
      }
      &.open .sell { width: 35px; }
    }

  }
}
