body.wantslist {
  article {
    p.loading { height: 30px; }
    form.create {
      padding: 30px 10px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      flex-grow: 1;
    }
    .button {
      height: 29px;
      line-height: 9px;
      box-sizing: border-box;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
    }
    .row {
      display: flex;
      width: 100%;
    }
    ul.lists li {
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      padding: 0 10px;
      line-height: 30px;
      font-weight: bold;
      &:nth-child(odd) { background: #fafafa; }
      &.titlebar { background: #eaeaea; }
      > * {
        align-items: center;
        display: flex;
        width: 100%;
        height: 40px;
      }
      a { flex-grow: 1; }
      div button {
        border: none;
        height: 20px;
        width: 35px;
        padding: 0;
        vertical-align: middle;
        outline: none;
        &.edit { background: url("/img/edit.png") no-repeat center center; }
      }
      &.empty {
        font-weight: normal;
        text-align: center;
        line-height: 100%;
        padding: 20px 0;
      }
    }
  }
}
