// contact page
body.contact {
  article {
    li {
      padding: 10px;
      line-height: 30px;
      border-bottom: 1px solid #ccc;
    }
    p, form {
      padding: 0 10px;
    }
    input, button, textarea, img {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
