// product page
body.product {
  #content header {
    padding-right: 60px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: normal;
    .right {
      position: absolute;
      right: 6px;
      a {
        font-size: 18px;
        color: white;
        margin: 0 2px;
      }
    }
  }
  article {
    .icon.commercial-0 { display: none; }
    li {
      padding: 4px 10px;
      border-bottom: 1px solid #ccc;
      line-height: 20px;
      &:nth-child(even) { background: rgb(240, 240, 240); }
      .icon { margin: -2px 5px 0 0; }
      .article {
        display: flex;
        align-items: center;
        font-weight: bold;
      }
      .price {
        flex-grow: 1;
        text-align: right;
      }
      .count {
        margin: 0 5px;
        min-width: 30px;
        text-align: center;
      }
      .comment {
        font-style: italic;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    button {
      border: none;
      background: url("/img/cart.png") no-repeat center center transparent;
      height: 20px;
      width: 35px;
      padding: 0;
      vertical-align: middle;
      outline: none;
    }
  }
}
