body.wantslist {
  article {
    p.loading { height: 30px; }
    .create {
      padding: 30px 10px;
    }

    form {
      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        border-bottom-right-radius: 0;
        border-right: 0;
        border-top-right-radius: 0;
        flex-grow: 1;
        height: 29px;
      }

      .button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-sizing: border-box;
        font-size: 14px;
        height: 29px;
        line-height: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .row { padding: 0; }
    }

    .row {
      display: flex;
      padding: 0 10px;

      .search {
        flex-grow: 1;
      }

      .remove {
        margin-left: -10px;
      }
    }

    button.icon {
      border: 0;
      height: 25px;
      outline: none;
      vertical-align: middle;
      width: 35px;
      &.edit { background: url('/img/edit.png') no-repeat center center; }
    }

    // list of wants lists
    ul.lists li {
      border-bottom: 1px solid $mkm-gray;
      box-sizing: border-box;
      font-weight: bold;
      line-height: 30px;
      padding: 0 10px;
      &:nth-child(odd) { background: $mkm-listeven; }
      &.titlebar { background: $mkm-lightgray; }
      > * {
        align-items: center;
        display: flex;
        height: 40px;
        width: 100%;
      }

      a {
        flex-grow: 1;
        line-height: normal;
      }

      &.empty {
        font-weight: normal;
        line-height: 100%;
        padding: 20px 0;
        text-align: center;
      }
    }

    // single wants list
    div.add {
      padding: 20px 0;
      text-align: center;
    }

    // list of wants list items
    ul.list {
      li {
        align-items: center;
        border-bottom: 1px solid $mkm-gray;
        color: $mkm-blue;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        padding: 4px 10px;

        &:nth-child(even) {
          background: $mkm-listeven;
        }

        &.empty {
          border: 0;
          display: block;
          padding: 30px 10px;
          text-align: center;
        }
      }

      .controls {
        padding-right: 5px;
      }

      .count {
        font-weight: bold;
        min-width: 25px;
        padding: 0 5px;
        text-align: center;
      }

      b {
        color: $mkm-blue;
        display: block;
      }

      div.card {
        flex-grow: 1;
      }

      .icons {
        align-items: center;
        display: flex;

        .icon {
          margin-right: 5px;
        }
      }

      .card-image {
        flex-grow: 1;
        margin-top: 5px;
        text-align: center;
        width: 100%;
      }
    }
  }

  // add / edit card forms
  form.overlay {
    .search input {
      width: 100%;
    }

    ul.suggestions {
      border-bottom: 1px solid $mkm-gray;
      li { padding: 5px 10px; }
      li:nth-child(even) { background: $mkm-listeven; }
    }

    label.price {
      position: relative;

      input {
        padding-right: 17px;
      }

      .currency {
        position: absolute;
        right: 17px;
        top: 16px;
      }
    }

    .language {
      .icons {
        max-width: 78px;
        text-align: right;
      }

      select { height: auto; }
    }
  }
}
