// profile page
body.profile {
  article {
    li {
      padding: 10px;
      display: flex;
      align-items: center;
      .label {
        width: 50%;
        flex-shrink: 0;
      }
      b {
        color: $mkmBlue;
        span {
          display: block;
        }
      }
      .icon {
        vertical-align: baseline;
        margin-right: 5px;
      }
      .username { color: $mkmGreen; }
      .username.vacation { color: $mkmRed; }
      input { margin-right: 5px; }
      &:nth-child(even) {
        background: #f0f0f0;
      }
      &.link {
        border-top: 1px solid #ccc;
        background: #fff;
      }
    }
    a {
      display: block;
      line-height: 20px;
    }
  }
}
