// settings page
#content.settings {
  article {
    li {
      padding: 10px;
      line-height: 30px;
      border-bottom: 1px solid #ccc;
      &:last-child { border:none; }
    }
    label {
      display: inline-block;
      white-space: nowrap;
    }
    input.right { margin-top: 8px; }
    .right {
      float: right;
      width: auto;
      margin-left: 5px;
    }
    .center { text-align: center; }
    a {
      display: block;
      line-height: 20px;
    }
  }
  footer .settings { background-position: 50% 50%; }
}
