// remote icons
.icon.expansion-1 {background-image: url('//www.mkmapi.eu/img/expansionicons/expicons.png'); height: 21px; width: 21px;}
.icon.expansion-99 {background-image: url('//www.mkmapi.eu/img/expansionicons/expicons.png'); height: 21px; width: 21px;}
.icon.expansion-3 {background-image: url('//www.mkmapi.eu/img/expansionicons/ygoicons.png'); height: 21px; width: 21px;}

// generic icons
.icon.card { background-image: url('/img/icons.png'); background-position: 0 0; height: 16px; width: 16px; }
.icon.comment { background-image: url('/img/icons.png'); background-position: -16px 0; height: 20px; width: 20px; }
.icon.commercial-0 { background-image: url('/img/icons.png'); background-position: -36px 0; height: 16px; width: 16px; }
.icon.commercial-1 { background-image: url('/img/icons.png'); background-position: 0 -16px; height: 16px; width: 16px; }
.icon.commercial-2 { background-image: url('/img/icons.png'); background-position: -36px -16px; height: 16px; width: 16px; }
.icon.is-altered { background-image: url('/img/icons.png'); background-position: 0 -32px; height: 16px; width: 16px; }
.icon.is-firsted { background-image: url('/img/icons.png'); background-position: -16px -32px; height: 16px; width: 16px; }
.icon.is-foil { background-image: url('/img/icons.png'); background-position: -32px -32px; height: 16px; width: 16px; }
.icon.is-playset { background-image: url('/img/icons.png'); background-position: -52px 0; height: 16px; width: 16px; }
.icon.is-signed { background-image: url('/img/icons.png'); background-position: -52px -16px; height: 16px; width: 16px; }
.icon.no { background-image: url('/img/icons.png'); background-position: -48px -32px; height: 16px; width: 16px; }
.icon.vacation-true { background-image: url('/img/icons.png'); background-position: -32px -48px; height: 16px; width: 16px; }

.icon.shipspeed {
  background-image: url('/img/icons.png');
  background-position: -16px -48px;
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  text-align: center;
  width: 16px;
}

.icon.commercial { background-image: url('/img/icons.png'); display: none; height: 16px; width: 16px; }
.icon.commercial-0,
.icon.commercial-private { background-position: -36px 0; display: inline-block; }

.icon.commercial-1,
.icon.commercial-commercial { background-position: 0 -16px; display: inline-block; }

.icon.commercial-2,
.icon.commercial-powerseller { background-position: -36px -16px; display: inline-block; }

.icon.risk { background-image: url('/img/icons.png'); background-position: 0 -48px; height: 16px; width: 16px; }
.icon.risk-0 { display: none; }
.icon.risk-1 { display: none; }
//.icon.risk-2 { }

// rarities
.icon.rarity { background-image: url('/img/rarities.png');  height: 16px; width: 16px; }
.rarity-1-common { background-position: 0 0; }
.rarity-1-land { background-position: -16px 0; }
.rarity-1-mythic { background-position: -32px 0; }
.rarity-1-rare { background-position: -48px 0; }
.rarity-1-special { background-position: 0 -16px; }
.rarity-1-timeshifted { background-position: -16px -16px; }
.rarity-1-token { background-position: -32px -16px; }
.rarity-1-uncommon { background-position: -48px -16px; }
.rarity-3-common { background-position: 0 -32px; }
.rarity-3-ghostrare { background-position: -16px -32px; }
.rarity-3-goldsecretrare { background-position: -32px -32px; }
.rarity-3-goldultrarare { background-position: -48px -32px; }
.rarity-3-mosaicrare { background-position: 0 -48px; }
.rarity-3-rare { background-position: -16px -48px; }
.rarity-3-secretrare { background-position: -32px -48px; }
.rarity-3-shatterfoil { background-position: -48px -48px; }
.rarity-3-special { background-position: -64px 0; }
.rarity-3-starfoilrare { background-position: -64px -16px; }
.rarity-3-superrare { background-position: -64px -32px; }
.rarity-3-token { background-position: -64px -48px; }
.rarity-3-ultimaterare { background-position: 0 -64px; }
.rarity-3-ultrarare { background-position: -16px -64px; }

// evaluations
.icon.evaluation { background-image: url('/img/evaluation.png'); display: none; height: 16px; width: 16px; }
.icon.evaluation-1 { background-position: 0 0; display: inline-block; }
.icon.evaluation-2 { background-position: -16px 0; display: inline-block; }
.icon.evaluation-3 { background-position: 0 -16px; display: inline-block; }
.icon.evaluation-4 { background-position: -16px -16px; display: inline-block; }

// grading
.icon.grading { background-image: url('/img/grading.png'); display: none; height: 16px; width: 16px; }
.icon.grading-ex { background-position: -1px -1px; display: inline-block; }
.icon.grading-gd { background-position: -19px -1px; display: inline-block; }
.icon.grading-lp { background-position: -1px -19px; display: inline-block; }
.icon.grading-mt { background-position: -19px -19px; display: inline-block; }
.icon.grading-nm { background-position: -37px -1px; display: inline-block; }
.icon.grading-pl { background-position: -37px -19px; display: inline-block; }
.icon.grading-po { background-position: -1px -37px; display: inline-block; }

// languages
.icon.language { background-image: url('/img/languages.png'); display: none; height: 11px; width: 16px; }
.icon.language-0 { background-position: 0 0; display: inline-block; }
.icon.language-1 { background-position: -16px 0; display: inline-block; }
.icon.language-2 { background-position: -32px 0; display: inline-block; }
.icon.language-3 { background-position: -48px 0; display: inline-block; }
.icon.language-4 { background-position: -64px 0; display: inline-block; }
.icon.language-5 { background-position: -80px 0; display: inline-block; }
.icon.language-6 { background-position: -96px 0; display: inline-block; }
.icon.language-7 { background-position: -112px 0; display: inline-block; }
.icon.language-8 { background-position: -128px 0; display: inline-block; }
.icon.language-9 { background-position: -144px 0; display: inline-block; }
.icon.language-10 { background-position: -160px 0; display: inline-block; }
.icon.language-11 { background-position: -176px 0; display: inline-block; }

// reputation
.icon.reputation { background-image: url('/img/reputation.png'); background-repeat: no-repeat; }
.reputation-0 { background-position: -1px -1px; height: 16px; width: 16px; }
.reputation-1 { background-position: -19px -1px; height: 19px; width: 20px; }
.reputation-2 { background-position: -1px -22px; height: 19px; width: 20px; }
.reputation-3 { background-position: -23px -22px; height: 15px; width: 16px; }
.reputation-4 { background-position: -41px -1px; height: 15px; width: 16px; }

// countries
.icon.country { background-image: url('/img/countries.png'); height: 11px; width: 16px; }
.icon.country- { visibility: hidden; }
.icon.country-ad { background-position: -1px -1px; }
.icon.country-ae { background-position: -19px -1px;}
.icon.country-af { background-position: -37px -1px;}
.icon.country-ag { background-position: -55px -1px;}
.icon.country-ai { background-position: -73px -1px;}
.icon.country-al { background-position: -91px -1px;}
.icon.country-am { background-position: -109px -1px;}
.icon.country-an { background-position: -127px -1px;}
.icon.country-ao { background-position: -145px -1px;}
.icon.country-ar { background-position: -163px -1px;}
.icon.country-as { background-position: -181px -1px;}
.icon.country-at { background-position: -199px -1px;}
.icon.country-au { background-position: -217px -1px;}
.icon.country-aw { background-position: -1px -14px;}
.icon.country-ax { background-position: -19px -14px;}
.icon.country-az { background-position: -37px -14px;}
.icon.country-ba { background-position: -55px -14px;}
.icon.country-bb { background-position: -73px -14px;}
.icon.country-bd { background-position: -91px -14px;}
.icon.country-be { background-position: -109px -14px;}
.icon.country-bf { background-position: -127px -14px;}
.icon.country-bg { background-position: -145px -14px;}
.icon.country-bh { background-position: -163px -14px;}
.icon.country-bi { background-position: -181px -14px;}
.icon.country-bj { background-position: -199px -14px;}
.icon.country-bm { background-position: -217px -14px;}
.icon.country-bn { background-position: -1px -27px;}
.icon.country-bo { background-position: -19px -27px;}
.icon.country-br { background-position: -37px -27px;}
.icon.country-bs { background-position: -55px -27px;}
.icon.country-bt { background-position: -73px -27px;}
.icon.country-bv { background-position: -91px -27px;}
.icon.country-bw { background-position: -109px -27px;}
.icon.country-by { background-position: -127px -27px;}
.icon.country-bz { background-position: -145px -27px;}
.icon.country-ca { background-position: -163px -27px;}
.icon.country-catalonia { background-position: -181px -27px;}
.icon.country-cc { background-position: -199px -27px;}
.icon.country-cd { background-position: -217px -27px;}
.icon.country-cf { background-position: -1px -40px;}
.icon.country-cg { background-position: -19px -40px;}
.icon.country-ch { background-position: -37px -40px; height: 11px; width: 11px; }
.icon.country-ci { background-position: -50px -40px;}
.icon.country-ck { background-position: -68px -40px;}
.icon.country-cl { background-position: -86px -40px;}
.icon.country-cm { background-position: -104px -40px;}
.icon.country-cn { background-position: -122px -40px;}
.icon.country-co { background-position: -140px -40px;}
.icon.country-cr { background-position: -158px -40px;}
.icon.country-cs { background-position: -176px -40px;}
.icon.country-cu { background-position: -194px -40px;}
.icon.country-cv { background-position: -212px -40px;}
.icon.country-cx { background-position: -1px -53px;}
.icon.country-cy { background-position: -19px -53px;}
.icon.country-cz { background-position: -37px -53px;}
.icon.country-d { background-position: -55px -53px;}
.icon.country-dj { background-position: -73px -53px;}
.icon.country-dk { background-position: -91px -53px;}
.icon.country-dm { background-position: -109px -53px;}
.icon.country-do { background-position: -127px -53px;}
.icon.country-dz { background-position: -145px -53px;}
.icon.country-ec { background-position: -163px -53px;}
.icon.country-ee { background-position: -181px -53px;}
.icon.country-eg { background-position: -199px -53px;}
.icon.country-eh { background-position: -217px -53px;}
.icon.country-england { background-position: -1px -66px;}
.icon.country-er { background-position: -19px -66px;}
.icon.country-es { background-position: -37px -66px;}
.icon.country-et { background-position: -55px -66px;}
.icon.country-europeanunion { background-position: -73px -66px;}
.icon.country-fam { background-position: -91px -66px;}
.icon.country-fi { background-position: -109px -66px;}
.icon.country-fj { background-position: -127px -66px;}
.icon.country-fk { background-position: -145px -66px;}
.icon.country-fm { background-position: -163px -66px;}
.icon.country-fo { background-position: -181px -66px;}
.icon.country-fr { background-position: -199px -66px;}
.icon.country-ga { background-position: -217px -66px;}
.icon.country-gb { background-position: -1px -79px;}
.icon.country-gd { background-position: -19px -79px;}
.icon.country-ge { background-position: -37px -79px;}
.icon.country-gf { background-position: -55px -79px;}
.icon.country-gh { background-position: -73px -79px;}
.icon.country-gi { background-position: -91px -79px;}
.icon.country-gl { background-position: -109px -79px;}
.icon.country-gm { background-position: -127px -79px;}
.icon.country-gn { background-position: -145px -79px;}
.icon.country-gp { background-position: -163px -79px;}
.icon.country-gq { background-position: -181px -79px;}
.icon.country-gr { background-position: -199px -79px;}
.icon.country-gs { background-position: -217px -79px;}
.icon.country-gt { background-position: -1px -92px;}
.icon.country-gu { background-position: -19px -92px;}
.icon.country-gw { background-position: -37px -92px;}
.icon.country-gy { background-position: -55px -92px;}
.icon.country-hk { background-position: -73px -92px;}
.icon.country-hm { background-position: -91px -92px;}
.icon.country-hn { background-position: -109px -92px;}
.icon.country-hr { background-position: -127px -92px;}
.icon.country-ht { background-position: -145px -92px;}
.icon.country-hu { background-position: -163px -92px;}
.icon.country-id { background-position: -181px -92px;}
.icon.country-ie { background-position: -199px -92px;}
.icon.country-il { background-position: -217px -92px;}
.icon.country-in { background-position: -1px -105px;}
.icon.country-io { background-position: -19px -105px;}
.icon.country-iq { background-position: -37px -105px;}
.icon.country-ir { background-position: -55px -105px;}
.icon.country-is { background-position: -73px -105px;}
.icon.country-it { background-position: -91px -105px;}
.icon.country-jm { background-position: -109px -105px;}
.icon.country-jo { background-position: -127px -105px;}
.icon.country-jp { background-position: -145px -105px;}
.icon.country-ke { background-position: -163px -105px;}
.icon.country-kg { background-position: -181px -105px;}
.icon.country-kh { background-position: -199px -105px;}
.icon.country-ki { background-position: -217px -105px;}
.icon.country-km { background-position: -1px -118px;}
.icon.country-kn { background-position: -19px -118px;}
.icon.country-kp { background-position: -37px -118px;}
.icon.country-kr { background-position: -55px -118px;}
.icon.country-kw { background-position: -73px -118px;}
.icon.country-ky { background-position: -91px -118px;}
.icon.country-kz { background-position: -109px -118px;}
.icon.country-la { background-position: -127px -118px;}
.icon.country-lb { background-position: -145px -118px;}
.icon.country-lc { background-position: -163px -118px;}
.icon.country-li { background-position: -181px -118px;}
.icon.country-lk { background-position: -199px -118px;}
.icon.country-lr { background-position: -217px -118px;}
.icon.country-ls { background-position: -1px -131px;}
.icon.country-lt { background-position: -19px -131px;}
.icon.country-lu { background-position: -37px -131px;}
.icon.country-lv { background-position: -55px -131px;}
.icon.country-ly { background-position: -73px -131px;}
.icon.country-ma { background-position: -91px -131px;}
.icon.country-mc { background-position: -109px -131px;}
.icon.country-md { background-position: -127px -131px;}
.icon.country-me { background-position: -145px -131px; height: 12px; width: 16px; }
.icon.country-mg { background-position: -163px -131px;}
.icon.country-mh { background-position: -181px -131px;}
.icon.country-mk { background-position: -199px -131px;}
.icon.country-ml { background-position: -217px -131px;}
.icon.country-mm { background-position: -1px -144px;}
.icon.country-mn { background-position: -19px -144px;}
.icon.country-mo { background-position: -37px -144px;}
.icon.country-mp { background-position: -55px -144px;}
.icon.country-mq { background-position: -73px -144px;}
.icon.country-mr { background-position: -91px -144px;}
.icon.country-ms { background-position: -109px -144px;}
.icon.country-mt { background-position: -127px -144px;}
.icon.country-mu { background-position: -163px -144px;}
.icon.country-mv { background-position: -181px -144px;}
.icon.country-mw { background-position: -199px -144px;}
.icon.country-mx { background-position: -217px -144px;}
.icon.country-my { background-position: -1px -157px;}
.icon.country-mz { background-position: -19px -157px;}
.icon.country-na { background-position: -37px -157px;}
.icon.country-nc { background-position: -55px -157px;}
.icon.country-ne { background-position: -73px -157px;}
.icon.country-nf { background-position: -91px -157px;}
.icon.country-ng { background-position: -109px -157px;}
.icon.country-ni { background-position: -127px -157px;}
.icon.country-nl { background-position: -145px -157px;}
.icon.country-no { background-position: -163px -157px;}
.icon.country-np { background-position: -230px -40px; height: 11px; width: 9px; }
.icon.country-nr { background-position: -181px -157px;}
.icon.country-nu { background-position: -199px -157px;}
.icon.country-nz { background-position: -217px -157px;}
.icon.country-om { background-position: -1px -170px;}
.icon.country-pa { background-position: -19px -170px;}
.icon.country-pe { background-position: -37px -170px;}
.icon.country-pf { background-position: -55px -170px;}
.icon.country-pg { background-position: -73px -170px;}
.icon.country-ph { background-position: -91px -170px;}
.icon.country-pk { background-position: -109px -170px;}
.icon.country-pl { background-position: -127px -170px;}
.icon.country-pm { background-position: -145px -170px;}
.icon.country-pn { background-position: -163px -170px;}
.icon.country-pr { background-position: -181px -170px;}
.icon.country-ps { background-position: -199px -170px;}
.icon.country-pt { background-position: -217px -170px;}
.icon.country-pw { background-position: -1px -183px;}
.icon.country-py { background-position: -19px -183px;}
.icon.country-qa { background-position: -37px -183px;}
.icon.country-re { background-position: -55px -183px;}
.icon.country-ro { background-position: -73px -183px;}
.icon.country-rs { background-position: -91px -183px;}
.icon.country-ru { background-position: -109px -183px;}
.icon.country-rw { background-position: -127px -183px;}
.icon.country-sa { background-position: -145px -183px;}
.icon.country-sb { background-position: -163px -183px;}
.icon.country-sc { background-position: -181px -183px;}
.icon.country-scotland { background-position: -199px -183px;}
.icon.country-sd { background-position: -217px -183px;}
.icon.country-se { background-position: -1px -196px;}
.icon.country-sg { background-position: -19px -196px;}
.icon.country-sh { background-position: -37px -196px;}
.icon.country-si { background-position: -55px -196px;}
.icon.country-sj { background-position: -73px -196px;}
.icon.country-sk { background-position: -91px -196px;}
.icon.country-sl { background-position: -109px -196px;}
.icon.country-sm { background-position: -127px -196px;}
.icon.country-sn { background-position: -145px -196px;}
.icon.country-so { background-position: -163px -196px;}
.icon.country-sr { background-position: -181px -196px;}
.icon.country-st { background-position: -199px -196px;}
.icon.country-sv { background-position: -217px -196px;}
.icon.country-sy { background-position: -1px -209px;}
.icon.country-sz { background-position: -19px -209px;}
.icon.country-tc { background-position: -37px -209px;}
.icon.country-td { background-position: -55px -209px;}
.icon.country-tf { background-position: -73px -209px;}
.icon.country-tg { background-position: -91px -209px;}
.icon.country-th { background-position: -109px -209px;}
.icon.country-tj { background-position: -127px -209px;}
.icon.country-tk { background-position: -145px -209px;}
.icon.country-tl { background-position: -163px -209px;}
.icon.country-tm { background-position: -181px -209px;}
.icon.country-tn { background-position: -199px -209px;}
.icon.country-to { background-position: -217px -209px;}
.icon.country-tr { background-position: -1px -222px;}
.icon.country-tt { background-position: -19px -222px;}
.icon.country-tv { background-position: -37px -222px;}
.icon.country-tw { background-position: -55px -222px;}
.icon.country-tz { background-position: -73px -222px;}
.icon.country-ua { background-position: -91px -222px;}
.icon.country-ug { background-position: -109px -222px;}
.icon.country-um { background-position: -127px -222px;}
.icon.country-us { background-position: -145px -222px;}
.icon.country-uy { background-position: -163px -222px;}
.icon.country-uz { background-position: -181px -222px;}
.icon.country-va { background-position: -199px -222px;}
.icon.country-vc { background-position: -217px -222px;}
.icon.country-ve { background-position: -235px -1px;}
.icon.country-vg { background-position: -235px -14px;}
.icon.country-vi { background-position: -235px -27px;}
.icon.country-vn { background-position: -241px -40px;}
.icon.country-vu { background-position: -235px -53px;}
.icon.country-wales { background-position: -235px -66px;}
.icon.country-wf { background-position: -235px -79px;}
.icon.country-ws { background-position: -235px -92px;}
.icon.country-ye { background-position: -235px -105px;}
.icon.country-yt { background-position: -235px -118px;}
.icon.country-za { background-position: -235px -131px;}
.icon.country-zm { background-position: -235px -144px;}
.icon.country-zw { background-position: -235px -157px;}
