// Normalising
@import "normalize";

// Variables
$mkmBlue: #012169;
$mkmLink: #0240ca;
$mkmGold: #E1C564;
$mkmGreen: #1A8444;
$mkmRed: #E9282E;

// General styling
body, html {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  font-size: 14px;
  background: #fdfdfd;
}

a {
  text-decoration: none;
  color: $mkmLink;
}

input, button, select {
  vertical-align: baseline;
  font-size: 14px;
  color: #444;
}

select {
  background: #eaeaea;
  border: none;
  padding: 0 3px;
  border-radius: 3px;
  height: 26px;
  &.ng-touched.ng-invalid { border: 1px solid red; }
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin:0;
}

:focus { color:$mkmBlue; outline: none; }

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

// subheadline - container
.subheadline {
  background: #eaeaea;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.75);
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 28px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  &.search {
    display: flex;
    width: 100%;
    position: fixed;
    top: 71px;
    z-index: 11;
    padding: 5px;
    white-space: nowrap;
    &:before {
      position: absolute;
      left: 12px;
    }
    input {
      width: 100%;
      padding-left: 30px;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
}

// link title
b.title, span.title, label.title {
  font-size: 15px;
  color: $mkmBlue;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

// gray bar
.titlebar {
  border: 1px solid #ccc;
  background: #eaeaea;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 10px;
  .right { float: right; }
}

// headlines
h1 {
  font-weight: bold;
  color: $mkmBlue;
  text-shadow: 1px 1px 0 rgba(1,21,66,0.1);
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 0;
}
h2 {
  font-weight: bold;
  color: $mkmBlue;
  text-shadow: 1px 1px 0 rgba(1,21,66,0.1);
  text-decoration: none;
  font-size: 1.25em;
  margin: 10px 0;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  text-align: center;
}

// text fields
input, textarea {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  font-weight: normal;
  padding: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder { color: #ccc; }
  &.ng-touched.ng-invalid { border-color: red; }
}

// buttons
.button {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: $mkmBlue;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  border: none;
  display: inline-block;
  &:focus { background: #0240ca; color: #fff; }
  &:disabled { opacity: 0.5; }
  &.green { background: #15704b; }
  &.gray { background: gray; }
}

// common button icons
button.remove { background:url("/img/remove.png") transparent center center no-repeat; }
button.add { background:url("/img/add.png") transparent center center no-repeat; }
button.edit { background: url("/img/edit.png") transparent center center no-repeat; }
button.cart { background: url("/img/cart.png") no-repeat center center transparent; }
body.loggedout button.cart { background-image: url("/img/cart_disabled.png"); }

// link arrow
.link {
  position: relative;
  &:after {
    content: url("/img/link.png");
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    pointer-events: none;
  }
}

// errors
.error {
  display: block;
  font-weight: bold;
  color: red;
  padding: 10px;
  text-align: center;
}

// loading
.loading {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
ul.loading {
  background-position: center bottom;
  min-height: 40px;
}
div.loading {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat;
}

// card name in dual language
.cardname {
  color: $mkmLink;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  small {
    display: block;
    font-weight: normal;
    font-style: italic;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// overlay screen
.overlay {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
}

// overlay form
form.overlay {
  label {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    span { flex-grow: 1; }
    b { color: $mkmBlue; }
    i {
      margin: 0 5px;
      flex-shrink: 0;
    }
    > input, select, b {
      flex-shrink: 0;
      width: 40%;
    }
  }
  .buttons {
    display: flex;
    padding: 10px;
    button[type=submit] {
      flex-grow: 1;
    }
    button.gray {
      margin-right: 5px;
    }
  }
  div.error {
    border-bottom: 1px solid #ccc;
  }
}

// Container styling
#container {
  position: relative;
  height: 100%;
  #content {
    height: 100%;
  }
}

// Sprites and Fonts
@import "sprites";
@import "fonts";

// directives
@import "directive.header";
@import "directive.order";
@import "directive.product";

/***********************/
// Styling per Screen
/***********************/
@import "screen.activation";
@import "screen.cart";
@import "screen.contact";
@import "screen.home";
@import "screen.login";
@import "screen.messages";
@import "screen.orders";
@import "screen.payment";
@import "screen.product";
@import "screen.profile";
@import "screen.recover";
@import "screen.register";
@import "screen.stock";
@import "screen.user";
@import "screen.wantslist";

// legal
body.legal {
  article {
    p, ul { margin: 10px; }
    b {
      display: block;
      margin: 10px 0;
    }
    ol li {
      list-style-type: decimal;
      padding: 5px 0;
    }
  }
}

// contact
body.imprint {
  article {
    p { padding: 10px; }
  }
}

// article page
body.article {
  article {
    margin-top: 45px;
  }
}

// callback
body.callback {
  header { display: none; }
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
