// Normalising
@import 'normalize';

// Variables
$mkm-blue: #012169;
$mkm-gold: #e1c564;
$mkm-green: #1a8444;
$mkm-red: #e9282e;

$mkm-white: #fff;
$mkm-lightgray: #eaeaea;
$mkm-gray: #ccc;
$mkm-darkgray: #444;

$mkm-link: #0240ca;
$mkm-background: #fdfdfd;

// General styling
body,
html {
  background: $mkm-background;
  color: $mkm-darkgray;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
}

a {
  color: $mkm-link;
  text-decoration: none;
}

input,
button,
select {
  color: $mkm-darkgray;
  font-size: 14px;
  vertical-align: baseline;
}

select {
  background: $mkm-lightgray;
  border: 0;
  border-radius: 3px;
  height: 26px;
  padding: 0 3px;
  &.ng-touched.ng-invalid { border: 1px solid $mkm-red; }
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:focus { color: $mkm-blue; outline: none; }

hr {
  border: 0;
  border-bottom: 1px solid $mkm-gray;
  margin: 0;
}

// subheadline - container
.subheadline {
  background: $mkm-lightgray;
  border-bottom: 1px solid $mkm-gray;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, .75);
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 28px;
  text-align: center;

  &.search {
    display: flex;
    padding: 5px;
    position: fixed;
    top: 71px;
    white-space: nowrap;
    width: 100%;
    z-index: 11;

    &:before {
      left: 12px;
      position: absolute;
    }

    input {
      padding-left: 30px;
      width: 100%;
    }

    button {
      background-color: transparent;
      border: 0;
    }
  }
}

// link title
b.title,
span.title,
label.title {
  color: $mkm-blue;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

// gray bar
.titlebar {
  background: $mkm-lightgray;
  border: 1px solid $mkm-gray;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 10px;
  .right { float: right; }
}

// headlines
h1 {
  color: $mkm-blue;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(1, 21, 66, .1);
}

h2 {
  color: $mkm-blue;
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(1, 21, 66, .1);
}

h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 10px;
  text-align: center;
}

// text fields
input,
textarea {
  background: $mkm-white;
  border: 1px solid $mkm-gray;
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  box-sizing: border-box;
  font-weight: normal;
  padding: 5px;
  vertical-align: middle;
  &::placeholder { color: $mkm-gray; }
  &.ng-touched.ng-invalid { border-color: $mkm-red; }
}

// buttons
.button {
  background: $mkm-blue;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  color: $mkm-white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  &:focus { background: $mkm-link; color: $mkm-white; }
  &:disabled { opacity: .5; }
  &.green { background: $mkm-green; }
  &.gray { background: $mkm-darkgray; }
}

// common button icons
button.remove { background: url('/img/remove.png') transparent center center no-repeat; }
button.add { background: url('/img/add.png') transparent center center no-repeat; }
button.edit { background: url('/img/edit.png') transparent center center no-repeat; }
button.cart { background: url('/img/cart.png') no-repeat center center transparent; }
body.loggedout button.cart { background-image: url('/img/cart_disabled.png'); }

// link arrow
.link {
  position: relative;

  &:after {
    content: url('/img/link.png');
    margin-top: -11px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
  }
}

// errors
.error {
  color: $mkm-red;
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

// loading
.loading {
  background-image: url('/img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

ul.loading {
  background-position: center bottom;
  min-height: 40px;
}

div.loading {
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
}

// card name in dual language
.cardname {
  color: $mkm-link;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  small {
    color: $mkm-darkgray;
    display: block;
    font-style: italic;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// overlay screen
.overlay {
  background-color: $mkm-white;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 70px;
}

// overlay form
form.overlay {
  label {
    align-items: center;
    border-bottom: 1px solid $mkm-gray;
    display: flex;
    padding: 10px;
    span { flex-grow: 1; }
    b { color: $mkm-blue; }
    i {
      flex-shrink: 0;
      margin: 0 5px;
    }

    > input,
    select,
    b {
      flex-shrink: 0;
      width: 40%;
    }
  }

  .buttons {
    display: flex;
    padding: 10px;

    button[type=submit] {
      flex-grow: 1;
    }

    button.gray {
      margin-right: 5px;
    }
  }

  div.error {
    border-bottom: 1px solid $mkm-gray;
  }
}

// Container styling
#container {
  height: 100%;
  position: relative;

  #content {
    height: 100%;
  }
}

// Sprites and Fonts
@import 'sprites';
@import 'fonts';

// directives
@import 'directive.header';
@import 'directive.order';
@import 'directive.product';

//***********************/
// Styling per Screen
//***********************/
@import 'screen.activation';
@import 'screen.cart';
@import 'screen.contact';
@import 'screen.home';
@import 'screen.login';
@import 'screen.messages';
@import 'screen.orders';
@import 'screen.payment';
@import 'screen.product';
@import 'screen.profile';
@import 'screen.recover';
@import 'screen.register';
@import 'screen.stock';
@import 'screen.user';
@import 'screen.wantslist';

// contact
body.imprint {
  article {
    p { padding: 10px; }
  }
}

// article page
body.article {
  article {
    margin-top: 45px;
  }
}

// callback
body.callback {
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  header { display: none; }
}
