// Normalising
@import "normalize";

// Variables
$mkmBlue: #012169;
$mkmGold: #E1C564;

// General styling
body, html {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  color: #444;
  font-size: 14px;
  background: #fdfdfd;
}

a {
  text-decoration: none;
  color: #0240ca;
}

input, button, select {
  vertical-align: baseline;
  font-size: 14px;
  color: #444;
}

select {
  background: #eaeaea;
  border: none;
  padding: 0 3px;
  border-radius: 3px;
  height: 26px;
  &.ng-touched.ng-invalid { border: 1px solid red; }
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin:0;
}

:focus { color:$mkmBlue; outline: none; }

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

// subheadline - container
.subheadline {
  background: #eaeaea;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.75);
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  &.search {
    display: table;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    top: 71px;
    z-index: 11;
    div {
      display: table-cell;
      vertical-align: middle;
    }
    div.left {
      width: 100%;
      padding: 0 47px 0 5px;
    }
    input {
      width: 100%;
      padding-left: 35px;
      background: url("/img/search.png") 5px 5px no-repeat #fff;
    }
    button {
      border: none;
      background-color: transparent;
      height: 40px;
      line-height: 40px;
    }
  }
}

// link title
b.title, span.title, label.title {
  font-size: 15px;
  color: $mkmBlue;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

// gray bar
.titlebar {
  border: 1px solid #ccc;
  background: #eaeaea;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 10px;
  .right { float: right; }
}

// headlines
h1 {
  font-weight: bold;
  color: $mkmBlue;
  text-shadow: 1px 1px 0 rgba(1,21,66,0.1);
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 0;
}
h2 {
  font-weight: bold;
  color: $mkmBlue;
  text-shadow: 1px 1px 0 rgba(1,21,66,0.1);
  text-decoration: none;
  font-size: 1.25em;
  margin: 10px 0;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 10px 0;
  text-align: center;
}

// text fields
input, textarea {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  font-weight: normal;
  padding: 5px;
  box-sizing: border-box;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder { color: #ccc; }
  &.ng-touched.ng-invalid { border-color: red; }
}

// buttons
.button {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: $mkmBlue;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  border: none;
  display: inline-block;
  &:focus { background: #0240ca; color: #fff; }
  &:disabled { opacity: 0.5; }
  &.green { background: #15704b; }
  &.gray { background: gray; }
}

// link arrow
.link {
  position: relative;
  &:after {
    content: url("/img/link.png");
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    pointer-events: none;
  }
}
button.remove { background:url("/img/remove.png") transparent center center no-repeat; }
button.add { background:url("/img/add.png") transparent center center no-repeat; }

// errors
.error {
  display: block;
  font-weight: bold;
  color: red;
  padding: 10px;
  text-align: center;
}

// loading
.loading {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
ul.loading {
  background-position: center bottom;
  min-height: 40px;
}
div.loading {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background-repeat: no-repeat;
}

// Transition between screens, if ng-animate is enabled
#container {
  position: relative;
  height: 100%;
  #content {
    height: 100%;
    &.ng-enter, &.ng-leave {
      transition: 0.3s linear all;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
    }
    &.ng-enter { opacity:0; }
    &.ng-enter.ng-enter-active { opacity:1; }
    &.ng-leave { opacity:1; }
    &.ng-leave.ng-leave-active { opacity:0; }
  }
}


// Sprites and Fonts
@import "sprites";
@import "fonts";

// directives
@import "directive.header";
@import "directive.footer";
@import "directive.order";
@import "directive.product";

/***********************/
// Styling per Screen
/***********************/
@import "screen.login";
@import "screen.product";
@import "screen.home";
@import "screen.cart";
@import "screen.contact";
@import "screen.recover";
@import "screen.register";
@import "screen.settings";
@import "screen.messages";
@import "screen.stock";
@import "screen.orders";

// legal
body.legal {
  article {
    p, ul { margin: 10px; }
    b {
      display: block;
      margin: 10px 0;
    }
    ol li {
      list-style-type: decimal;
      padding: 5px 0;
    }
  }
}

// contact
body.imprint {
  article {
    p { padding: 10px; }
  }
}

// article page
body.article {
  article {
    margin-top: 45px;
  }
}

// callback
body.callback {
  header { display: none; }
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}