<b translate="order.seller">Seller:</b> {{order.seller.username}}
<span class="seller-details" mkm-user user="order.seller"></span>
<a class="icon comment" ng-show="order.isBuyer" href="/messages/{{order.seller.idUser}}"></a>
<div class="seller-address" ng-show="order.seller.address">
  <b translate="order.seller_address">Seller's address</b><br>
  {{order.seller.name.firstName}} {{order.seller.name.lastName}}<br>
  <span ng-show="order.seller.address.street"> {{order.seller.address.street}}, </span>
  <span ng-show="order.seller.address.extra">  {{order.seller.address.extra}},  </span>
  <span ng-show="order.seller.address.zip">    {{order.seller.address.zip}}     </span>
  <span ng-show="order.seller.address.city">   {{order.seller.address.city}},   </span>
  <span ng-show="order.seller.address.country">
    <span class="icon country country-{{order.seller.address.country}}"></span>
    {{order.seller.address.country | findInMap:countries}}
  </span>
  <hr>
</div>

<div ng-show="order.buyer">
  <b translate="order.buyer">Buyer:</b> {{order.buyer.username}}
  <span class="buyer-details" mkm-user user="order.buyer"></span>
  <a class="icon comment" ng-hide="order.isBuyer" href="/messages/{{order.buyer.idUser}}"></a>
  <div class="buyer-address" ng-show="order.shippingAddress">
    <b translate="order.shipping_address">Shipping address</b><br>
    {{order.shippingAddress.name}}<br>
    <span ng-show="order.shippingAddress.street"> {{order.shippingAddress.street}}, </span>
    <span ng-show="order.shippingAddress.extra">  {{order.shippingAddress.extra}},  </span>
    <span ng-show="order.shippingAddress.zip">    {{order.shippingAddress.zip}}     </span>
    <span ng-show="order.shippingAddress.city">   {{order.shippingAddress.city}},   </span>
    <span ng-show="order.shippingAddress.country">
      <span class="icon country country-{{order.shippingAddress.country}}"></span>
      {{order.shippingAddress.country | findInMap:countries}}
    </span>
  </div>
</div>

<div class="overview">
  {{order.articleCount}}
  <span ng-show="order.articleCount == 1" translate="common.article"></span>
  <span ng-show="order.articleCount != 1" translate="common.articles"></span>
  <span translate="common.price">Price</span>
</div>
<ul class="articles">
  <li ng-repeat="article in order.article" ng-hide="!article.count">
    <div class="card">
      <button ng-click="removeArticle(article, order)" ng-show="removeArticle">-</button>
      {{article.count}}
      <a href="/product/{{article.idProduct}}">{{article.product.name}}</a>
    </div>
    <div class="icons">
      <span class="icon rarity rarity-{{article.product.rarity}}" ng-show="article.product.rarity"></span>
      <span class="icon expansion" ng-style="article.product.expIcon | expansionIcon" ng-show="article.product.expansion"></span>
      <span class="icon language language-{{article.language.idLanguage}}" ng-show="article.language.idLanguage"></span>
      <span class="icon grading grading-{{article.condition}}" ng-show="article.condition"></span>
      <span class="icon is-foil" ng-show="article.isFoil"></span>
      <span class="icon is-signed" ng-show="article.isSigned"></span>
      <span class="icon is-playset" ng-show="article.isPlayset"></span>
      <span class="icon is-altered" ng-show="article.isAltered"></span>
    </div>
    <div class="price">
      {{article.price | currency:"€"}}
      <span class="price-per-card" ng-show="article.isPlayset">({{article.price / 4 | currency:"€"}})</span>
    </div>
  </li>
</ul>
<hr>
<span ng-hide="order.shippingMethods">
  {{order.shippingMethod.name}} - {{order.shippingMethod.price | currency:"€"}}
</span>
<select ng-model="order.shippingMethod.idShippingMethod" ng-change="shippingMethod(order)" ng-show="order.shippingMethods"
        ng-options="sm.value as sm.label group by 'common.'+sm.group | translate for sm in order.shippingMethods"></select>
<hr>
<div class="total">
  <span translate="common.total"></span> - {{order.totalValue | currency:"€"}}
  <i translate="common.items_shipping"></i>
</div>