<b>Seller: {{order.seller.username}}</b>
<span class="seller-details" mkm-user user="order.seller"></span>
<a class="icon comment" href="/messages/{{order.seller.username}}"></a>
<div class="seller-address" ng-show="order.seller.address">
  Seller's address<br>
  {{order.seller.name.firstName}} {{order.seller.name.lastName}}<br>
  <span ng-show="order.seller.address.street"> {{order.seller.address.street}}, </span>
  <span ng-show="order.seller.address.extra">  {{order.seller.address.extra}},  </span>
  <span ng-show="order.seller.address.zip">    {{order.seller.address.zip}}     </span>
  <span ng-show="order.seller.address.city">   {{order.seller.address.city}},   </span>
  <span ng-show="order.seller.address.country">{{order.seller.address.country}} </span>
  <hr>
</div>

<b>Buyer: {{order.buyer.username}}</b>
<span class="buyer-details" mkm-user user="order.buyer"></span>
<a class="icon comment" href="/messages/{{order.buyer.username}}"></a>
<div class="buyer-address" ng-show="order.shippingAddress">
  Shipping address<br>
  {{order.shippingAddress.name}}<br>
  <span ng-show="order.shippingAddress.street"> {{order.shippingAddress.street}}, </span>
  <span ng-show="order.shippingAddress.extra">  {{order.shippingAddress.extra}},  </span>
  <span ng-show="order.shippingAddress.zip">    {{order.shippingAddress.zip}}     </span>
  <span ng-show="order.shippingAddress.city">   {{order.shippingAddress.city}},   </span>
  <span ng-show="order.shippingAddress.country">{{order.shippingAddress.country}} </span>
</div>

<div class="overview">
  <ng-pluralize count="order.totalCount" when="{0:'No articles',one:'1 article',other:'{} articles'}"></ng-pluralize>
  <span>Price</span>
</div>
<ul class="articles">
  <li ng-repeat="article in order.article" ng-hide="!article.count">
    <button ng-click="removeArticle(article, order)" ng-show="removeArticle">-</button>
    {{article.count}}
    <a href="/product/{{article.idProduct}}">{{article.idArticle}}</a>
    <div class="icons">
      <span class="icon language language-{{article.language.idLanguage}}" ng-show="article.language.idLanguage"></span>
      <span class="icon grading grading-{{article.condition}}" ng-show="article.condition"></span>
      <span class="icon is-foil" ng-show="article.isFoil"></span>
      <span class="icon is-signed" ng-show="article.isSigned"></span>
      <span class="icon is-playset" ng-show="article.isPlayset"></span>
      <span class="icon is-altered" ng-show="article.isAltered"></span>
    </div>
    {{article.price | currency:"€"}}
    <span class="price-per-card" ng-show="article.isPlayset">({{article.price / 4 | currency:"€"}})</span>
  </li>
</ul>
<hr>
{{order.shippingMethod.name}} - {{order.shippingMethod.price | currency:"€"}}
<hr>
<div class="total">
  Total - {{order.totalValue | currency:"€"}}
  <i>Items + Shipping Method</i>
</div>