<div class="subheadline">
  <div class="left"><input ng-model="query" id="search" placeholder="{{'common.search' | translate}}"></div>
  <div class="right"><button ng-show="query != ''" ng-click="query = ''">{{'search.cancel' | translate}}</button></div>
</div>
<div class="results" ng-show="query != ''">
  <h3>
    <span ng-show="!searchData.loading"
          translate="search.results" translate-value-count="{{searchData.count | number}}">Results</span>
    <span class="error" ng-show="searchData.error" translate="search.error">Error loading search results</span>
    <span ng-show="searchData.count > 0" translate="search.sort">Sort</span>
    <select ng-model="sort" ng-show="searchData.count > 0">
      <option value="name[0]['productName']" translate="search.name">Name</option>
      <option value="expIcon" translate="search.expansion">Expansion</option>
      <option value="rarity" translate="search.rarity">Rarity</option>
    </select>
  </h3>
  <ul ng-class="{loading:searchData.loading}" data-infinite-scroll="loadResults()">
    <li ng-repeat="product in searchData.products | orderBy:sort">
      <a href="/product/{{product.idProduct}}">
        <span class="icon expansion" ng-style="product.expIcon | expansionIcon" ng-show="product.expansion"></span>
        <span class="icon rarity rarity-{{product.rarity}}" ng-show="product.rarity"></span>
        {{product.name[0].productName}}
      </a>
    </li>
  </ul>
</div>
<div class="empty" ng-hide="searchData.count > 0 || searchData.loading" ng-transclude translate></div>