<div class="input">
  <input ng-model="query" id="search" placeholder="Search">
  <button ng-show="query != ''" ng-click="query = ''">X</button>
</div>
<div class="results" ng-show="query != ''">
  <span ng-show="!searchData.loading">{{searchData.count}} Results</span>
  <span class="error" ng-show="searchData.error">Error loading search results</span>
  <select ng-model="sort" ng-show="searchData.count > 0">
    <option value="name[0]['productName']">Alphabetical</option>
    <option value="expansion">Expansion</option>
    <option value="rarity">Rarity</option>
  </select>
  <ul ng-class="{loading:searchData.loading}" data-infinite-scroll="loadResults()">
    <li ng-repeat="product in searchData.products | orderBy:sort">
      <a href="/product/{{product.idProduct}}">
        <span class="icon expansion expansion-{{product.expansion | expansionIcon}}"></span>
        <span class="icon rarity rarity-{{product.rarity}}" ng-show="product.rarity"></span>
        {{product.name[0].productName}}
      </a>
    </li>
  </ul>
</div>
<div class="empty" ng-hide="searchData.count > 0" ng-transclude></div>