<form class="search subheadline" ng-submit="blur($event)">
  <div class="left"><input ng-model="query" id="search" placeholder="{{'common.search' | translate}}"></div>
  <div class="right"><button type="button" ng-show="query != ''" ng-click="query = ''">{{'search.cancel' | translate}}</button></div>
</form>
<div class="results" ng-show="query != ''">
  <h3>
    <span ng-show="!searchData.loading"
          translate="search.results" translate-value-count="{{searchData.count | number}}">Results</span>
    <span class="error" ng-show="searchData.error" translate="search.error">Error loading search results</span>
    <span ng-show="searchData.count > 0" translate="search.sort">Sort</span>
    <select ng-model="sort" ng-show="searchData.count > 0">
      <option value="enName" translate="search.name">Name</option>
      <option value="localizedName" translate="search.foreign_name" ng-if="::languageId != 1">Foreign Name</option>
      <option value="expansionName" translate="search.expansion">Expansion</option>
      <option value="rarity" translate="search.rarity">Rarity</option>
    </select>
  </h3>
  <ul ng-class="{loading:searchData.loading}" data-infinite-scroll="loadResults()">
    <li class="link" ng-repeat="product in searchData.products | orderBy:sort">
      <a href="/product/{{::product.idProduct}}">
        <span class="icon expansion-{{::product.idGame}}" ng-style="::product.expansionIcon | expansionIcon" ng-if="::product.expansionIcon"></span>
        <span ng-class="::product | rarityIcon" ng-if="::product.rarity"></span>
        <span class="name">
          {{::product.localizedName}}
          <small ng-hide="::languageId == 1">{{::product.enName}}</small>
        </span>
      </a>
    </li>
  </ul>
</div>
<div class="empty" ng-hide="searchData.count > 0 || searchData.loading" ng-transclude translate></div>