<span ng-show="user.country" class="icon country country-{{::user.country}}"></span>
<span class="icon reputation reputation-{{::user.reputation}}" ng-if="::user.reputation"></span>
<span class="icon commercial commercial-{{::user.isCommercial}}" ng-if="::user.isCommercial"></span>
<span class="icon risk risk-{{::user.riskGroup}}" ng-if="::user.riskGroup"></span>
<span class="icon shipspeed shipspeed-{{::user.shipsFast}}" ng-if="::user.shipsFast"></span>
<span class="icon vacation-{{::user.onVacation}}" ng-if="::user.onVacation"></span>